<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <!-- Meta, title, CSS, favicons, etc. -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Online Tutor</title>

  <!-- Bootstrap -->
  <link href="/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <!-- Font Awesome -->
  <link href="/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <!-- NProgress -->
  <link href="/vendors/nprogress/nprogress.css" rel="stylesheet">
  <!-- Animate.css -->
  <link href="/vendors/animate.css/animate.min.css" rel="stylesheet">

  <!-- Custom Theme Style -->
  <link href="/build/css/custom.min.css" rel="stylesheet">
  <link href="/build/css/main.css" rel="stylesheet">
  <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
</head>

<body class="h-100">
  <div class="login">
    <a class="hiddenanchor" id="signup"></a>
    <a class="hiddenanchor" id="signin"></a>
    <div class="login-blocks">
      <div class="left-box">
        <a href="javascript:void(0);" class="logo-top"><img class="mr-2" src="/images/logo.svg"> <span>Pioneers Tutoring</span></a>
      </div>
      <div class="right-box">
        <div class="login-form">
          <form action="./forget" method="post" id="forget_password">
            <h1>Forgot Password?</h1>
            <p class="mt-n3 mb-4">We’ll send you reset password instruction on your Mail.
              enean amet mollis eu maecenas a nunc.</p>
            <div class="form-group">
              <span class="icon-left"><img src="/images/email2.svg"></span>
              <input type="email" class="form-control" placeholder="Email" id="email" name="email" />
            </div>
            <div class="row">
              <div class="col-md-12 text-center">
                <button type="submit" class="btn theme-btn mt-0">Submit</button>
                <a class="link-text mt-3" href="/"><img class="mr-2" src="/images/arrow-left.svg">Back to Login</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <script>
     $("#forget_password").submit(function (e) {
    e.preventDefault();
    $(document).find("span.text-danger").remove();

    var formData = $('#forget_password').serialize();
    console.log(formData);
    var url = $('#forget_password').attr('action');
    $.ajax({
      type: "POST",
      url: url,
      dataType: "json",
      data: formData,
      success: function (response) {
        console.log(response);
        if (response.success == true) {
            window.location.href = "/";

        }
      },
      error: function (response) {
        console.log(response);
        let errorMessages = '';
        $.each(response.responseJSON.errors, function (field_name, error) {
          console.log(field_name);
          console.log(error);
          $(document).find('[id=' + error.param + ']').after('<span class="help-block text-danger">' + error.msg + '</span>');
        })
      },
      complete: function () {
      
      },
    })
  });
  </script>
</body>

</html>