<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <!-- Meta, title, CSS, favicons, etc. -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Online Tutor</title>

  <!-- Bootstrap -->
  <link href="/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <!-- Font Awesome -->
  <link href="/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <!-- NProgress -->
  <link href="/vendors/nprogress/nprogress.css" rel="stylesheet">
  <!-- Animate.css -->
  <link href="/vendors/animate.css/animate.min.css" rel="stylesheet">

  <!-- Custom Theme Style -->
  <link href="/build/css/custom.min.css" rel="stylesheet">
  <link href="/build/css/main.css" rel="stylesheet">
   <!--- notify CDN -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css" />

   <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
</head>

<body class="h-100">
  <div class="login">
    <a class="hiddenanchor" id="signup"></a>
    <a class="hiddenanchor" id="signin"></a>
    <div class="login-blocks">
      <div class="left-box">
        <a href="javascript:void(0);" class="logo-top"><img src="/images/logo.svg"> <span>Pioneers Tutoring</span></a>
      </div>
      <div class="right-box">
        <div class="login-form">
          <form action="./sign-in" method="post">
            <h1>Login</h1>
            <div>
              <input type="text" class="form-control" placeholder="Username" name="email" required="" />
            </div>
            <div>
              <input type="password" class="form-control" placeholder="Password" name="password" required="" />
            </div>
            <div class="row">
              <div class="col-md-6 text-left">
                <button type="submit" class="btn theme-btn">Login</button>
              </div>
              <div class="col-md-6 text-right">
                <a class="reset_pass" href="./forget-password">Lost your password?</a>
              </div>
            </div>
            <div class="clearfix"></div>
          </form>
        </div>
      </div>  
    </div>  
  </div>
</body>
<script>
  <% if (flash.success && flash.success.length > 0) { %>
    new Noty({
      theme: 'relax',
      text: '<%= flash.success %>',
      type: 'success',
      layout: 'topRight',
      timeout: 1500
    }).show();
  <% } %>
  
  <% if (flash.error && flash.error.length > 0) { %>
    new Noty({
      theme: 'relax',
      text: '<%= flash.error %>',
      type: 'error',
      layout: 'topRight',
      timeout: 1500
    }).show();
<% } %>
</script>
</html>