<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Online Tutor</title>

    <!-- Bootstrap -->
    <link href="/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="/vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- Animate.css -->
    <link href="/vendors/animate.css/animate.min.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="/build/css/custom.min.css" rel="stylesheet">
    <link href="/build/css/main.css" rel="stylesheet">

    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
</head>

<body class="h-100">
    <div class="login">
        <div class="login-blocks">
            <div class="left-box">
              <a href="javascript:void(0);" class="logo-top"><img class="mr-2" src="/images/logo.svg"> <span>Pioneers Tutoring</span></a>
            </div>
            <div class="right-box">
                <div class="login-form">
                    <form method="post" action="./verify-password">
                        <h1>New Password</h1>
                        <p class="mt-n3 mb-4">Lorem ipsum dolor sit amet consectetur. Enim morbi odioa enean amet mollis eu maecenas a nunc.</p>
                        <div class="form-group">
                            <span class="icon-left"><img src="/images/lock2.svg"></span>
                            <input type="hidden" name="token" value="<%=token%>">
                            <input type="password" class="form-control form-control-sm" name="password" placeholder="New password" id="password" required>
                            <span toggle="#password" class="fa fa-fw fa-eye field-icon form-control-feedback right toggle-password"></span>
                        </div>
                        <div class="form-group">
                            <span class="icon-left"><img src="/images/lock2.svg"></span>
                            <input type="password" name="confirm_password" class="form-control form-control-sm" placeholder="Confirm Password" id="conf-password" required>
                            <span toggle="#conf-password" class="fa fa-fw fa-eye field-icon form-control-feedback right toggle-password"></span>
                        </div>
                        <button type="submit" class="btn theme-btn mt-0 btn-block submit-btn">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
    $(".toggle-password").click(function () {
        $(this).toggleClass("fa-eye fa-eye-slash");
        var input = $($(this).attr("toggle"));
        if (input.attr("type") == "password") {
            input.attr("type", "text");
        } else {
            input.attr("type", "password");
        }
    });
    </script>
</body>

</html>