<script>

  $(document).ready(function () {
    $('.dropify').dropify();
    $('.dropify-clear').on('click', function () {
      $('#is_image_removed').val('1');
      $('.dropify').attr('required', true);
    });
  });

  $(document).ready(function () {
    $('.select-cover').dropify({
      tpl: {
        message:'<div class="dropify-message"><span class="file-icon" /> <p>Drag & Drop here size should be</p><a class="d-inline-block mt-2 mb-3 theme-btn" href="javasript:void(0);">Select File</a><h6 class="mb-0 fn-12 text-dblue">Supported formates : JPEG, PNG, MP4</h6></div>',
    },
    });
    
    $('.dropify-clear').on('click', function () {
      $('#is_image_removed').val('1');
      $('.dropify').attr('required', true);
    });
  });

  $(document).ready(function () {
    $('.select-video').dropify({
      tpl: {
        message:'<div class="dropify-message"><span class="file-icon" /> <p>Drag & Drop here size should be</p><a class="d-inline-block mt-2 mb-3 theme-btn" href="javasript:void(0);">Select File</a><h6 class="mb-0 fn-12 text-dblue">Select your preferred video type. (.mp4, YouTube, Vimeo etc.)</h6></div>',
    },
    });
    
    $('.dropify-clear').on('click', function () {
      $('#is_image_removed').val('1');
      $('.dropify').attr('required', true);
    });
  });

  $(document).ready(function () {
    $('.select-attachments').dropify({
      tpl: {
        message:'<div class="dropify-message"><span class="file-icon" /> <p>Drag & Drop here size should be</p><a class="d-inline-block mt-2 mb-3 theme-btn" href="javasript:void(0);">+ Attachments</a><h6 class="mb-0 fn-12 text-dblue">Supported formates : (PDF, Excel)</h6></div>',
    },
    });
    
    $('.dropify-clear').on('click', function () {
      $('#is_image_removed').val('1');
      $('.dropify').attr('required', true);
    });
  });


  $(".selectlink").select2({
      placeholder: "Select",
      allowClear: false,
  });
  
  <% if (flash.success && flash.success.length > 0) { %>
    new Noty({
      theme: 'relax',
      text: '<%= flash.success %>',
      type: 'success',
      layout: 'topRight',
      timeout: 1500
    }).show();
  <% } %>
  
  <% if (flash.error && flash.error.length > 0) { %>
    new Noty({
      theme: 'relax',
      text: '<%= flash.error %>',
      type: 'error',
      layout: 'topRight',
      timeout: 1500
    }).show();
<% } %>

    // for school update
    $(".updateData").click(function () {
      $('.modal').modal('show')
    });
  // $(".close").click(function(){
  //   $('.modal').modal('hide')
  // });
  $('[data-toggle=confirmation]').confirmation({
    rootSelector: '[data-toggle=confirmation]'
  });


  $("#createSchool").submit(function (e) {
    e.preventDefault();
    $(document).find("span.text-danger").remove();

    var formData = $('#createSchool').serialize();
    var url = $('#createSchool').attr('action');
    $("#storeSchoolBtn").prop('disabled', true);
    $.ajax({
      type: "POST",
      url: url,
      dataType: "json",
      data: formData,
      // beforeSend: function () {
      //   $('#loading-bar-spinner').show();
      // },
      success: function (response) {
        console.log(response);
        if (response.success == true) {
          window.location = response.redirectUrl;
        }
      },
      error: function (response) {
        console.log(response);
        let errorMessages = '';
        $.each(response.responseJSON.errors, function (field_name, error) {
          console.log(field_name);
          console.log(error);
          $(document).find('[id=' + error.param + ']').after('<span class="help-block text-danger">' + error.msg + '</span>');
        })
      },
      complete: function () {
        // $("#loading-bar-spinner").hide();
        $("#storeSchoolBtn").prop('disabled', false);
      },
    })
  });


  $("#updateSchool").submit(function (e) {
    e.preventDefault();
    $(document).find("span.text-danger").remove();

    var formData = $('#updateSchool').serialize();
    var url = $('#updateSchool').attr('action');
    $("#updateSchoolBtn").prop('disabled', true);
    $.ajax({
      type: "POST",
      url: url,
      dataType: "json",
      data: formData,
      // beforeSend: function () {
      //   $('#loading-bar-spinner').show();
      // },
      success: function (response) {
        console.log(response);
        if (response.success == true) {
          window.location = response.redirectUrl;
        }
      },
      error: function (response) {
        console.log(response);
        let errorMessages = '';
        $.each(response.responseJSON.errors, function (field_name, error) {
          console.log(field_name);
          console.log(error);
          $(document).find('[id=' + error.param + ']').after('<span class="help-block text-danger">' + error.msg + '</span><br>');
        })
      },
      complete: function () {
        // $("#loading-bar-spinner").hide();
        $("#updateSchoolBtn").prop('disabled', false);
      },
    })
  });


  $("#createGrade").submit(function (e) {
    e.preventDefault();
    $(document).find("span.text-danger").remove();

    var formData = $('#createGrade').serialize();
    var url = $('#createGrade').attr('action');
    $("#createGradeBtn").prop('disabled', true);
    $.ajax({
      type: "POST",
      url: url,
      dataType: "json",
      data: formData,
      // beforeSend: function () {
      //   $('#loading-bar-spinner').show();
      // },
      success: function (response) {
        console.log(response);
        if (response.success == true) {
          window.location = response.redirectUrl;
        }
      },
      error: function (response) {
        console.log(response);
        let errorMessages = '';
        $.each(response.responseJSON.errors, function (field_name, error) {
          console.log(field_name);
          console.log(error);
          $(document).find('[id=' + error.param + ']').after('<span class="help-block text-danger">' + error.msg + '</span>');
        })
      },
      complete: function () {
        // $("#loading-bar-spinner").hide();
        $("#createGradeBtn").prop('disabled', false);
      },
    })
  });


  $("#updateGrade").submit(function (e) {
    e.preventDefault();
    $(document).find("span.text-danger").remove();

    var formData = $('#updateGrade').serialize();
    var url = $('#updateGrade').attr('action');
    $("#updateGradeBtn").prop('disabled', true);
    $.ajax({
      type: "POST",
      url: url,
      dataType: "json",
      data: formData,
      // beforeSend: function () {
      //   $('#loading-bar-spinner').show();
      // },
      success: function (response) {
        console.log(response);
        if (response.success == true) {
          window.location = response.redirectUrl;
        }
      },
      error: function (response) {
        console.log(response);
        let errorMessages = '';
        $.each(response.responseJSON.errors, function (field_name, error) {
          console.log(field_name);
          console.log(error);
          $(document).find('[id=' + error.param + ']').after('<span class="help-block text-danger">' + error.msg + '</span>');
        })
      },
      complete: function () {
        // $("#loading-bar-spinner").hide();
        $("#updateGradeBtn").prop('disabled', false);
      },
    })
  });


  $("#createCategory").submit(function (e) {
    e.preventDefault();
    $(document).find("span.text-danger").remove();
    var form = $('#createCategory');
    var formData = new FormData(form[0]);
    formData.append('category_image', this.new_attachments)
    var url = $('#createCategory').attr('action');
    $("#storeCategoryBtn").prop('disabled', true);
    $.ajax({
      type: "POST",
      url: url,
      dataType: "json",
      data: formData,
      processData: false,
      contentType: false,
      // beforeSend: function () {
      //   $('#loading-bar-spinner').show();
      // },
      success: function (response) {
        console.log(response);
        if (response.success == true) {
          window.location = response.redirectUrl;
        }
      }, 
      error: function (response) {
        console.log(response);
        let errorMessages = '';
        $.each(response.responseJSON.errors, function (field_name, error) {
          console.log(field_name);
          console.log(error);
          $(document).find('[id=' + error.param + ']').after('<span class="help-block text-danger">' + error.msg + '</span>');
        })
      },
      complete: function () {
        // $("#loading-bar-spinner").hide();
        $("#storeCategoryBtn").prop('disabled', false);
      },
    })
  });


  $("#updateCategory").submit(function (e) {
    e.preventDefault();
    $(document).find("span.text-danger").remove();
    var form = $('#updateCategory');
    var formData = new FormData(form[0]);
    formData.append('category_image', this.new_attachments)
    var url = $('#updateCategory').attr('action');
    $("#updateCategoryBtn").prop('disabled', true);
    $.ajax({
      type: "POST",
      url: url,
      dataType: "json",
      data: formData,
      processData: false,
      contentType: false,
      // beforeSend: function () {
      //   $('#loading-bar-spinner').show();
      // },
      success: function (response) {
        console.log(response);
        if (response.success == true) {
          window.location = response.redirectUrl;
        }
      },
      error: function (response) {
        console.log(response);
        let errorMessages = '';
        $.each(response.responseJSON.errors, function (field_name, error) {
          console.log(field_name);
          console.log(error);
          $(document).find('[id=' + error.param + ']').after('<span class="help-block text-danger">' + error.msg + '</span>');
        })
      },
      complete: function () {
        // $("#loading-bar-spinner").hide();
        $("#updateCategoryBtn").prop('disabled', false);
      },
    })
  });


  $("#createSubCategory").submit(function (e) {
    e.preventDefault();
    $(document).find("span.text-danger").remove();
    var formData = $('#createSubCategory').serialize();
    var url = $('#createSubCategory').attr('action');
    $("#storeSubCategoryBtn").prop('disabled', true);
    $.ajax({
      type: "POST",
      url: url,
      dataType: "json",
      data: formData,
      // beforeSend: function () {
      //   $('#loading-bar-spinner').show();
      // },
      success: function (response) {
        console.log(response);
        if (response.success == true) {
          window.location = response.redirectUrl;
        }
      },
      error: function (response) {
        console.log(response);
        let errorMessages = '';
        $.each(response.responseJSON.errors, function (field_name, error) {
          console.log(field_name);
          console.log(error);
          $(document).find('[id=' + error.param + ']').after('<span class="help-block text-danger">' + error.msg + '</span>');
        })
      },
      complete: function () {
        // $("#loading-bar-spinner").hide();
        $("#storeSubCategoryBtn").prop('disabled', false);
      },
    })
  });


  $("#updateSubCategory").submit(function (e) {
    e.preventDefault();
    $(document).find("span.text-danger").remove();
    var formData = $('#updateSubCategory').serialize();
    var url = $('#updateSubCategory').attr('action');
    $("#updateSubCategoryBtn").prop('disabled', true);
    $.ajax({
      type: "POST",
      url: url,
      dataType: "json",
      data: formData,
      // beforeSend: function () {
      //   $('#loading-bar-spinner').show();
      // },
      success: function (response) {
        console.log(response);
        if (response.success == true) {
          window.location = response.redirectUrl;
        }
      },
      error: function (response) {
        console.log(response);
        let errorMessages = '';
        $.each(response.responseJSON.errors, function (field_name, error) {
          console.log(field_name);
          console.log(error);
          $(document).find('[id=' + error.param + ']').after('<span class="help-block text-danger">' + error.msg + '</span>');
        })
      },
      complete: function () {
        // $("#loading-bar-spinner").hide();
        $("#updateSubCategoryBtn").prop('disabled', false);
      },
    })
  });

  // Editor
  tinymce.init({
    selector: '.editer',
    height: 300,
    menubar: false,
    statusbar: false,
    plugins: [
      'advlist autolink lists link image charmap print preview anchor textcolor',
      'searchreplace visualblocks code fullscreen',
      'insertdatetime media table contextmenu paste code help wordcount'
    ],
    mobile: { 
      theme: 'mobile' 
    },
    toolbar: 'insert | undo redo |  formatselect | bold italic backcolor  | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | removeformat | help',
  });


</script>