<div class="col-md-3 left_col menu_fixed">
  <div class="left_col scroll-view">
    <div class="navbar nav_title" style="border: 0;">
      <a href="/dashboard" class="site_title"><img src="/images/logo.svg"> <span>Pioneers Tutoring</span></a>
    </div>
    <div class="clearfix"></div>
    <!-- menu profile quick info -->
    <div class="profile clearfix">
      <div class="profile_pic">
        <img src="/images/img.jpg" alt="..." class="img-circle profile_img">
      </div>
      <div class="profile_info">
        <span>Welcome,</span>
        <h2>Daniel Estasmos</h2>
      </div>
    </div>

    <!-- sidebar menu -->
    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
      <div class="menu_section">
        <ul class="nav side-menu">
          <!-- <li>
            <a href="/dashboard">
              <span class="icon"><img src="/images/dashboard.svg"></span> <span class="link-title">Dashboard</span>
            </a>
          </li> -->
          <li>
            <a><span class="icon"><img src="/images/tutor.svg"></span> <span class="link-title">Tutor</span> <span
                class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
              <li><a href="/tutors">List</a></li>
              <li><a href="/tutors">Add</a></li>
            </ul>
          </li>

          <li>
            <a><span class="icon"><img src="/images/student.svg"></span> <span class="link-title">Students</span> <span
                class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
              <li><a href="/students">List</a></li>
              <li><a href="/students/create">Add</a></li>
            </ul>
          </li>

          <li>
            <a><span class="icon"><img src="/images/school.svg"></span> <span class="link-title">Schools</span> <span
                class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
              <li><a href="/schools">List</a></li>
              <li><a href="/schools/create">Add</a></li>
            </ul>
          </li>

          <li>
            <a><span class="icon"><img src="/images/classes.svg"></span> <span class="link-title">Grades</span> <span
                class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
              <li><a href="/grades">List</a></li>
              <li><a href="/grades/create">Add</a></li>
            </ul>
          </li>

          <li>
            <a><span class="icon"><img src="/images/categories.svg"></span> <span class="link-title">Categories</span>
              <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
              <li><a href="/categories">Category</a></li>
              <li><a href="/categories/create">Add Category</a></li>
              <li><a href="/subCategories">SubCategory</a></li>
              <li><a href="/subCategories/create">Add SubCategory</a></li>
            </ul>
          </li>

          <li>
            <a><span class="icon"><img src="/images/courses.svg"></span> <span class="link-title">Courses</span> <span
                class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
              <li><a href="/courses">Courses</a></li>
              <li><a href="/courses/create">Add Course</a></li>
            </ul>
          </li>

          <li>
            <a href="javascript:void(0);">
              <span class="icon"><img src="/images/assessment.svg"></span> <span class="link-title">Assessment</span>
            </a>
          </li>

          <li>
            <a href="javascript:void(0);">
              <span class="icon"><img src="/images/assignment.svg"></span> <span class="link-title">Assignment</span>
            </a>
          </li>

        </ul>
      </div>

      
      <!-- <div class="courses-sidebar">
        <a href="" class="back-course"><img class="mr-2" src="/images/arrow-left.svg" alt="img"> Courses List</a>
        <div class="accordion" id="section1">
          <div class="card">
          <div class="card-header collapsed" data-toggle="collapse" data-target="#lessons" aria-expanded="true" aria-controls="lessons">
            <div class="left-heading"><img class="mr-2" src="/images/lessons.svg" alt="img"> Lessons</div>
            <div class="right-icons"><img src="/images/arrowdown.svg" alt="img"></div>
          </div> 
          <div id="lessons" class="collapse show" data-parent="#section1">
            <ul class="link-tap-right">
              <li class="active"><a id="chp1-tab" data-toggle="pill" href="#chp1" role="tab" aria-controls="chp1" aria-selected="true">English Developing People, Leading
                Teams & Managing Processes</a></li>
              <li><a id="chp2-tab" data-toggle="pill" href="#chp2" role="tab" aria-controls="chp2" aria-selected="true">English Developing People, Leading
                Teams & Managing Processes</a></li>
              <li><a id="chp3-tab" data-toggle="pill" href="#chp3" role="tab" aria-controls="chp3" aria-selected="true">English Developing People, Leading
                Teams & Managing Processes</a></li>
              <li><a id="chp4-tab" data-toggle="pill" href="#chp4" role="tab" aria-controls="chp4" aria-selected="true">English Developing People, Leading
                Teams & Managing Processes</a></li>
            </ul>
          </div> 
          </div>
          <div class="card">
            <div class="card-header" data-toggle="collapse" data-target="#practice" aria-expanded="false" aria-controls="practice">
              <div class="left-heading"> <img class="mr-2" src="/images/practice.svg" alt="img"> Practice</div>
              <div class="right-icons"><img src="/images/arrowdown.svg" alt="img"></div>
            </div>
            <div id="practice" class="collapse" data-parent="#section1">
              <ul class="link-tap-right">
                <li><a id="chp1-tab" data-toggle="pill" href="#chp1" role="tab" aria-controls="chp1" aria-selected="true">English Developing People, Leading
                  Teams & Managing Processes</a></li>
                <li><a id="chp2-tab" data-toggle="pill" href="#chp2" role="tab" aria-controls="chp2" aria-selected="true">English Developing People, Leading
                  Teams & Managing Processes</a></li>
                <li><a id="chp3-tab" data-toggle="pill" href="#chp3" role="tab" aria-controls="chp3" aria-selected="true">English Developing People, Leading
                  Teams & Managing Processes</a></li>
                <li><a id="chp4-tab" data-toggle="pill" href="#chp4" role="tab" aria-controls="chp4" aria-selected="true">English Developing People, Leading
                  Teams & Managing Processes</a></li>
              </ul>
            </div>
          </div>
          <div class="card">
            <div class="card-header" data-toggle="collapse" data-target="#challenges" aria-expanded="false" aria-controls="challenges">
              <div class="left-heading"> <img class="mr-2" src="/images/challenges.svg" alt="img"> challenges</div>
              <div class="right-icons"><img src="/images/arrowdown.svg" alt="img"></div>
            </div>
            <div id="challenges" class="collapse" data-parent="#section1">
              <ul class="link-tap-right">
                <li><a id="chp1-tab" data-toggle="pill" href="#chp1" role="tab" aria-controls="chp1" aria-selected="true">English Developing People, Leading
                  Teams & Managing Processes</a></li>
                <li><a id="chp2-tab" data-toggle="pill" href="#chp2" role="tab" aria-controls="chp2" aria-selected="true">English Developing People, Leading
                  Teams & Managing Processes</a></li>
                <li><a id="chp3-tab" data-toggle="pill" href="#chp3" role="tab" aria-controls="chp3" aria-selected="true">English Developing People, Leading
                  Teams & Managing Processes</a></li>
                <li><a id="chp4-tab" data-toggle="pill" href="#chp4" role="tab" aria-controls="chp4" aria-selected="true">English Developing People, Leading
                  Teams & Managing Processes</a></li>
              </ul>
            </div>
          </div>
        </div> 
      </div> -->
    </div>
    <!-- /sidebar menu -->
  </div>
</div>