<div class="right_col" role="main">
  <!-- page content starts-->
  <div class="row main_row">
    <div class="x_panel form_panel">
      <div class="x_title">
        <h3 class="title-text">Add Grade</h3>
      </div>
      <div class="x_content">
        <form id="storeGrade" action="./store" method="post" class="form-horizontal form-label-left">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="col-form-label label-align" for="name">Grade Name<span
                    class="required">*</span>
                </label>
                <div class="input-group">
                  <span class="input-group-text"><img src="/images/classes.svg" class="mCS_img_loaded"></span>
                  <input type="text" name="name" class="form-control" placeholder="Enter Name.." id="name">
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="col-form-label label-align" for="status">Status<span
                  class="required">*</span>
              </label>
                <div class="input-group">
                  <span class="input-group-text"><img src="/images/status.svg" class="mCS_img_loaded"></span>
                  <select class="form-control" name="status" id="status">
                    <option value="1">Activate</option>
                    <option value="0">Deactivate</option>
                  </select>
                </div>
              </div>
            </div>
          </div> 

          <div class="ln_solid"></div>
            <div class="text-right">
              <button type="submit" id="storeGradeBtn" class="btn theme-btn">Save</button>
            </div>
        </form>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">
  
  /**
   * store a new grade.
   *
   */
  $("#storeGrade").submit(function (e) {
    e.preventDefault();
    $(document).find("span.text-danger").remove();

    var formData = $('#storeGrade').serialize();
    var url = $('#storeGrade').attr('action');
    $("#storeGradeBtn").prop('disabled', true);
    $.ajax({
      type: "POST",
      url: url,
      dataType: "json",
      data: formData,
      // beforeSend: function () {
      //   $('#loading-bar-spinner').show();
      // },
      success: function (response) {
        console.log(response);
        if (response.success == true) {
          window.location = response.redirectUrl;
        }
      },
      error: function (response) {
        console.log(response);
        let errorMessages = '';
        $.each(response.responseJSON.errors, function (field_name, error) {
          console.log(field_name);
          console.log(error);
          $(document).find('[id=' + error.param + ']').after('<span class="help-block text-danger">' + error.msg + '</span>');
        })
      },
      complete: function () {
        // $("#loading-bar-spinner").hide();
        $("#storeGradeBtn").prop('disabled', false);
      },
    })
  });
</script>