<html>
    <head>
        <title>
           
        </title>
        <%- include('partials/_head'); %>
    </head>
    <body>
        <%- body %>
        
        <%- include('partials/_footer'); %>
    </body>
</html>