<html>

<head>
    <title>

    </title>
    <%- include('partials/_head'); %>
</head>

<body>
    <%- body %>

        <!-- footer content -->
        <footer>
            <div class="pull-right">
                ©2022 All Rights Reserved <a href="javascript:void()">Online-tutor</a>
            </div>
            <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->

        <%- include('partials/_footer'); %>
            <%- include('partials/_common_js'); %>

</body>

</html>