<html>

<head>
    <title>

    </title>
    <%- include('partials/_head'); %>
</head>

<body>
    <%- body %>
        <%- include('partials/_footer'); %>
            <%- include('partials/_common_js'); %>

</body>

</html>