
  <body class="login">
    <div>
      <a class="hiddenanchor" id="signup"></a>
      <a class="hiddenanchor" id="signin"></a>
      <div class="login_wrapper">
        <div class="animate form login_form">
          <section class="login_content">
            <form action="./forget" method="post">
              <h1>Login Form</h1>
              <div>
                <input type="email" class="form-control" placeholder="Enter Your Email" name="email" required="" />
              </div>
              <div class="row">
                  <div class="col-md-12 text-center">
                      <button type="submit" class="btn btn-primary">Login</button>
                  </div>
              </div>
            </form>
          </section>
        </div>
      </div>
    </div>
  </body>

