
  <div class="right_col" role="main">
    <div class="">
      <!-- page title starts -->
      <div class="page-title">
        <div class="title_left">
          <!-- <h3>School</h3> -->
        </div>
      </div>
      <div class="clearfix"></div>
      <!-- page title end -->

      <!-- page content starts-->
      <div class="row">
        <div class="x_panel">
          <div class="x_title">
            <h2>Add Student<small></small></h2>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <br>
            <form id="createStudent" action="./store" method="post" class="form-horizontal form-label-left" enctype="multipart/form-data">

              <div class="item form-group">
                <label class="col-form-label col-md-3 col-sm-3 label-align" for="first_name">First Name<span
                    class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 ">
                  <input type="text" name="first_name" class="form-control" placeholder="Enter First Name.." id="first_name">
                </div>
              </div>

              <div class="item form-group">
                  <label class="col-form-label col-md-3 col-sm-3 label-align" for="last_name">Last Name<span
                      class="required">*</span>
                  </label>
                  <div class="col-md-6 col-sm-6 ">
                    <input type="text" name="last_name" class="form-control" placeholder="Enter Last Name.." id="last_name"
                      >
                  </div>
              </div>

              <div class="item form-group">
                  <label class="col-form-label col-md-3 col-sm-3 label-align" for="start_date">Start Date
                  </label>
                  <div class="col-md-6 col-sm-6 ">
                    <input type="date" name="start_date" class="form-control " placeholder="Enter Start Date.." id="start_date">
                  </div>
              </div>
              
              <div class="item form-group">
                  <label class="col-form-label col-md-3 col-sm-3 label-align" for="email">Email Address <span
                    class="required">*</span>
                  </label>
                  <div class="col-md-6 col-sm-6 ">
                    <input type="email" name="email" class="form-control" placeholder="Enter Email.." id="email" >
                  </div>
              </div>
              
              <div class="item form-group">
                  <label class="col-form-label col-md-3 col-sm-3 label-align" for="phone">Phone No.
                  </label>
                  <div class="col-md-6 col-sm-6 ">
                      <input type="hidden" name="dial_code" id="dial_code">
                      <input type="hidden" name="iso_code" id="iso_code">
                      <input type="text" name="phone" class="form-control " id="phone">
                      <span id="error-msg" class="hide"></span>
                  </div>
              </div>

              <div class="item form-group">
                <label class="col-form-label col-md-3 col-sm-3 label-align" for="skill_level">Skill Level</label>
                <div class="col-md-6 col-sm-6 ">
                  <input type="text" name="skill_level" class="form-control " placeholder="Enter Skill Level.." id="skill_level">
                </div>
              </div>
              
              <div class="item form-group">
                  <label class="col-form-label col-md-3 col-sm-3 label-align" for="school">School</label>
                  <div class="col-md-6 col-sm-6 ">
                    <select class="form-control" name="school_id" id="school_id">
                      <option value="">Select School</option>
                      <% for(school of data) { %>
                        <option value="<%=school.id%>"><%=school.name%></option>
                      <% } %> 
                    </select>
                  </div>
              </div>

              <div class="item form-group">
                  <label class="col-form-label col-md-3 col-sm-3 label-align" for="gender">Gender</label>
                  <div class="col-md-6 col-sm-6 ">
                    <select class="form-control" name="gender" id="gender">
                      <option value="">Select Gender</option>
                      <option value="1">Male</option>
                      <option value="0">Female</option>
                    </select>
                  </div>
              </div>

              <div class="item form-group">
                  <label class="col-form-label col-md-3 col-sm-3 label-align" for="birth_day">Birth Day</label>
                  <div class="col-md-6 col-sm-6 ">
                    <input type="date" name="birth_day" class="form-control " placeholder="Enter Skill Level.." id="birth_day">
                  </div>
              </div>

              <div class="item form-group">
                  <label class="col-form-label col-md-3 col-sm-3 label-align" for="referrer">Referrer</label>
                  <div class="col-md-6 col-sm-6 ">
                    <input type="text" name="referrer" class="form-control " placeholder="Enter Skill Level.." id="referrer">
                  </div>
              </div>
              
              <div class="item form-group">
                <label class="col-form-label col-md-3 col-sm-3 label-align" for="profile_image">Profile Image</label>
                <div class="col-md-6 col-sm-6 ">
                  <input type="file" name="profile_image" id="profile_image" class="form-control dropify">
                </div>
              </div>

              <div class="item form-group">
                  <label class="col-form-label col-md-3 col-sm-3 label-align" for="notes">Notes </label>
                  <div class="col-md-6 col-sm-6 ">
                    <textarea name="note" rows="5" class="form-control" placeholder="Enter Notes.." id="notes"></textarea>
                  </div>
              </div>

              <div class="item form-group">
                <label class="col-form-label col-md-3 col-sm-3 label-align" for="status">Status<span
                    class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 ">
                  <select class="form-control" name="status" id="status">
                    <option value="1">Activate</option>
                    <option value="0">Deactivate</option>
                  </select>
                </div>
              </div>

              <div class="ln_solid"></div>
              
              <div class="form-group row">
                <div class="col-md-9 col-sm-9  offset-md-3">
                  <button type="submit" id="storeStudentBtn" class="btn btn-success form-button">Save</button>
                </div>
              </div>
              
            </form>
          </div>
        </div>
      </div>
      <!-- page title end -->
    </div>
  </div>
<script type="text/javascript">
  $("#createStudent").submit(function (e) {
    e.preventDefault();
    $(document).find("span.text-danger").remove();
    var form = $('#createStudent');
    var formData = new FormData(form[0]);
    formData.append('profile_image', this.new_attachments)
    var url = $('#createStudent').attr('action');
    $("#storeStudentBtn").prop('disabled', true);
    $.ajax({
      type: "POST",
      url: url,
      dataType: "json",
      data: formData,
      processData: false,
      contentType: false,
      success: function (response) {
        console.log(response);
        if (response.success == true) {
          window.location = response.redirectUrl;
        }
      }, 
      error: function (response) {
        console.log(response);
        let errorMessages = '';
        $.each(response.responseJSON.errors, function (field_name, error) {
          console.log(field_name);
          console.log(error);
          $(document).find('[id=' + error.param + ']').after('<span class="help-block text-danger">' + error.msg + '</span>');
        })
      },
      complete: function () {
        // $("#loading-bar-spinner").hide();
        $("#storeStudentBtn").prop('disabled', false);
      },
    })
  });

// phone number validate start intlTelInput
  var input = document.querySelector("#phone"),
  errorMap = ["Invalid number", "Invalid country code", "Too short", "Too long", "Invalid number"],
  result = document.querySelector("#error-msg");
  
  window.addEventListener("load", function () {
  errorMsg = document.querySelector("#error-msg");

   function getIp(callback) {
      fetch('https://ipinfo.io', {
            headers: {
               'Accept': 'application/json'
            }
         })
         .then((resp) => resp.json())
         .catch(() => {
            return {
               country: '',
            };
         })
         .then((resp) => callback(resp.country));
   }

   var iti = window.intlTelInput(input, {
      initialCountry: "In",
      separateDialCode: true
   });


   input.addEventListener('keyup', function () {
      reset();
      if (input.value.trim()) {
         if (iti.isValidNumber()) {
            $("#storeStudentBtn").prop('disabled', false);
            $(input).addClass('is-valid');

         } else {
            $("#storeStudentBtn").prop('disabled', true);
            $(input).addClass('is-invalid');
            var errorCode = iti.getValidationError();
            errorMsg.innerHTML = errorMap[errorCode];
            $(errorMsg).show();
         }
      }
   });
   input.addEventListener('change', reset);
   input.addEventListener('keyup', reset);

   var reset = function () {
      $(input).removeClass('is-invalid');
      errorMsg.innerHTML = "";
      $(errorMsg).hide();

   };
   input.addEventListener('keyup', function (e) {
      e.preventDefault();
      var num = iti.getNumber(),
         valid = iti.isValidNumber();
      //result.textContent = "Number: " + num + ", valid: " + valid;
   }, false);

   input.addEventListener("focus", function () {
      result.textContent = "";
   }, false);

   $(input).on("focusout", function (e, countryData) {
      var intlNumber = iti.getNumber();
      var countryData = iti.getSelectedCountryData();
      var dialCode = countryData.dialCode;
      var iso2 = countryData.iso2;
      $('#dial_code').val(dialCode); // update country code
      $('#iso_code').val(iso2); // update iso code
   });
});
 // phone number validate end   
</script>