
<body class="nav-md">
    <div class="container body">
      <div class="main_container">
        <%- include('../../partials/_sidebar'); %>
  
          <%- include('../../partials/_topNavigation'); %>
  
  
            <div class="right_col" role="main">
              <div class="">
                <!-- page title starts -->
                <div class="page-title">
                  <div class="title_left">
                    <!-- <h3>School</h3> -->
                  </div>
                </div>
                <div class="clearfix"></div>
                <!-- page title end -->
  
                <!-- page content starts-->
                <div class="row">
                  <div class="x_panel">
                    <div class="x_title">
                      <h2>Add Student<small></small></h2>
                      <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                      <br>
                      <form id="createSchool" action="./store" method="post" class="form-horizontal form-label-left"
                        novalidate>
                        <div class="item form-group">
                          <label class="col-form-label col-md-3 col-sm-3 label-align" for="name">First Name<span
                              class="required">*</span>
                          </label>
                          <div class="col-md-6 col-sm-6 ">
                            <input type="text" name="firstname" class="form-control" placeholder="Enter First Name.." id="firstname"
                              required="required">
                          </div>
                        </div>

                        <div class="item form-group">
                            <label class="col-form-label col-md-3 col-sm-3 label-align" for="name">Last Name<span
                                class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 ">
                              <input type="text" name="lastname" class="form-control" placeholder="Enter Last Name.." id="lastname"
                                required="required">
                            </div>
                        </div>

                        <div class="item form-group">
                            <label class="col-form-label col-md-3 col-sm-3 label-align" for="phone">Start Date
                            </label>
                            <div class="col-md-6 col-sm-6 ">
                              <input type="date" name="start_date" class="form-control " placeholder="Enter Start Date.." id="start_date">
                            </div>
                        </div>
                        
                        <div class="item form-group">
                            <label class="col-form-label col-md-3 col-sm-3 label-align" for="email">Email Address
                            </label>
                            <div class="col-md-6 col-sm-6 ">
                              <input type="email" name="email" class="form-control" placeholder="Enter Email.." id="email">
                            </div>
                        </div>
                        
                        <div class="item form-group">
                            <label class="col-form-label col-md-3 col-sm-3 label-align" for="phone">Phone No.
                            </label>
                            <div class="col-md-6 col-sm-6 ">
                                <input type="text" name="phone" class="form-control " placeholder="Enter Phone.." id="phone">
                            </div>
                        </div>

                        <div class="item form-group">
                          <label class="col-form-label col-md-3 col-sm-3 label-align" for="address">Skill Level</label>
                          <div class="col-md-6 col-sm-6 ">
                            <input type="text" name="skill_level" class="form-control " placeholder="Enter Skill Level.." id="skill_level">
                          </div>
                        </div>
                        
                        <div class="item form-group">
                            <label class="col-form-label col-md-3 col-sm-3 label-align" for="address">School</label>
                            <div class="col-md-6 col-sm-6 ">
                              <% for(school of data) { %>
                                <option value="0">Deactivate</option>
                            </div>
                        </div>

                        <div class="item form-group">
                            <label class="col-form-label col-md-3 col-sm-3 label-align" for="address">Gender</label>
                            <div class="col-md-6 col-sm-6 ">
                              <input type="text" name="gender" class="form-control " placeholder="Enter Skill Level.." id="gender">
                            </div>
                        </div>

                        <div class="item form-group">
                            <label class="col-form-label col-md-3 col-sm-3 label-align" for="address">Birth Day</label>
                            <div class="col-md-6 col-sm-6 ">
                              <input type="date" name="birth_day" class="form-control " placeholder="Enter Skill Level.." id="birth_day">
                            </div>
                        </div>

                        <div class="item form-group">
                            <label class="col-form-label col-md-3 col-sm-3 label-align" for="address">Referrer</label>
                            <div class="col-md-6 col-sm-6 ">
                              <input type="text" name="referrer" class="form-control " placeholder="Enter Skill Level.." id="referrer">
                            </div>
                        </div>

                        <div class="item form-group">
                            <label class="col-form-label col-md-3 col-sm-3 label-align" for="address">Notes </label>
                            <div class="col-md-6 col-sm-6 ">
                              <textarea name="address" rows="5" class="form-control" placeholder="Enter Notes.." id="notes"></textarea>
                            </div>
                        </div>

                        <div class="item form-group">
                          <label class="col-form-label col-md-3 col-sm-3 label-align" for="status">Status<span
                              class="required">*</span>
                          </label>
                          <div class="col-md-6 col-sm-6 ">
                            <select class="form-control" name="status" id="status">
                              <option value="0">Deactivate</option>
                              <option value="1">Activate</option>
                            </select>
                          </div>
                        </div>
  
                        <div class="ln_solid"></div>
                        
                        <div class="form-group row">
                          <div class="col-md-9 col-sm-9  offset-md-3">
                            <button type="submit" id="storeSchoolBtn" class="btn btn-success form-button">Save</button>
                          </div>
                        </div>
  
                      </form>
                    </div>
                  </div>
                </div>
                <!-- page title end -->
              </div>
            </div>
  
      </div>
    </div>
  </body>
  
  <script type="text/javascript">
   
  </script>