<div class="right_col" role="main">
  <div class="form-wizard">
     <form class="form-design" method="post" enctype="multipart/form-data">
         <ul class="list-unstyled form-wizard-steps clearfix">
           <li class="active">
             <span class="step_icon">
               <svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 34 34" fill="none">
                   <path d="M31.1663 14.1667V21.25C31.1663 28.3334 28.333 31.1667 21.2497 31.1667H12.7497C5.66634 31.1667 2.83301 28.3334 2.83301 21.25V12.75C2.83301 5.66671 5.66634 2.83337 12.7497 2.83337H19.833" stroke="#4A4674" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                   <path d="M31.1663 14.1667H25.4997C21.2497 14.1667 19.833 12.75 19.833 8.50004V2.83337L31.1663 14.1667Z" stroke="#4A4674" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                   <path opacity="0.4" d="M9.91699 18.4166H18.417M9.91699 24.0833H15.5837" stroke="#4A4674" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                   </svg>
             </span>
             <span class="step_descr">Basic Information</span>
           </li>
           <li>
             <span class="step_icon">
               <svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 34 34" fill="none">
                   <path d="M31.1663 6.61862V23.7178C31.1663 25.0778 30.0613 26.3528 28.7013 26.5228L28.2338 26.5795C25.1455 26.9903 20.3855 28.5628 17.6655 30.0645C17.2972 30.277 16.688 30.277 16.3055 30.0645L16.2488 30.0361C13.5288 28.5486 8.78301 26.9903 5.70884 26.5795L5.29801 26.5228C3.93801 26.3528 2.83301 25.0778 2.83301 23.7178V6.60446C2.83301 4.91862 4.20717 3.64362 5.89301 3.78529C8.86801 4.02612 13.373 5.52779 15.8947 7.10029L16.2488 7.31279C16.6597 7.56779 17.3397 7.56779 17.7505 7.31279L17.9913 7.15696C18.8838 6.60446 20.0172 6.05196 21.2497 5.55612C23.1055 4.81946 25.1738 4.22446 26.9163 3.94112C27.2988 3.87029 27.6672 3.82779 28.0072 3.79946H28.0922C29.778 3.65779 31.1663 4.91862 31.1663 6.61862Z" stroke="#4A4674" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                   <path opacity="0.4" d="M17 7.77461V29.0246M26.9167 3.9397V11.3347L24.0833 9.45053L21.25 11.3347V5.5547C23.1058 4.81803 25.1742 4.22303 26.9167 3.9397V3.9397Z" stroke="#4A4674" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                   </svg>
             </span>
             <span class="step_descr">Add Content</span>
           </li>
           <li>
             <span class="step_icon">
               <svg xmlns="http://www.w3.org/2000/svg" width="31" height="22" viewBox="0 0 31 22" fill="none">
                   <path d="M30 1L10.0625 21L1 11.9091" stroke="#4A4674" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                   </svg>
             </span>
             <span class="step_descr">Complete</span>
           </li>
         </ul>
       <fieldset class="wizard-fieldset show">
         
       <div class="d-flex align-items-center justify-content-between mb-30">
         <h3 class="title-text mb-0">Basic Information</h3>
         <a class="back-link" href="./create"><span class="fa fa-chevron-left mr-2"></span> Back to list</a>
       </div>  
         <div class="row">
             <div class="col-sm-12">
                 <div class="form-group">
                     <label class="form-label">Title</label>
                     <input class="form-control" type="text" placeholder="Enter your title">
                 </div>
             </div>
             <div class="col-sm-12">
                 <div class="form-group">
                     <label class="form-label">Short Description</label>
                     <textarea class="form-control" placeholder="Enter your short description"></textarea>
                 </div>
             </div>
             <div class="col-sm-12 col-md-6">
                 <div class="form-group">
                     <label class="form-label">Category</label>
                     <select class="selectlink form-control">
                         <option value="1">English</option>
                         <option value="2">Mathematics</option>
                         <option value="3">Science</option>
                         <option value="4">Chemestry</option>
                         <option value="5">Math</option>
                         <option value="6">Mathematics</option>
                     </select>
                 </div>
             </div>
             <div class="col-sm-12 col-md-6">
                 <div class="form-group">
                     <label class="form-label">Class</label>
                     <select class="selectlink form-control">
                         <option value="1">Class 1st</option>
                         <option value="2">Class 2nd</option>
                         <option value="3">Class 3rd</option>
                         <option value="4">Class 4th</option>
                         <option value="5">Class 5th</option>
                     </select>
                 </div>
             </div>
             <div class="col-sm-12">
                 <div class="drop-file">
                     <label class="form-label">Upload Thumbnail</label>
                     <input type="file" name="cover_image" id="cover_image" class="form-control  select-cover h-auto" data-allowed-file-extensions="jpg png jpeg" data-max-file-size-preview="5M">
                 </div>
             </div>
         </div>
   
         <div class="form-group mb-0 mt-4 clearfix">
           <a href="javascript:void(0);" class="form-wizard-next-btn theme-btn float-right">Next</a>
         </div>
       </fieldset>	
     
       <fieldset class="wizard-fieldset">
         <div class="d-flex align-items-center justify-content-between mb-30">
           <h3 class="title-text mb-0">Add Secction</h3>
           <a class="add-section" href="javascript:void(0);"><img src="/images/addcircle.svg" alt="img"></a>
         </div> 
         <div class="accordion" id="section1">
           <div class="card">
             <div class="card-header">
               <div class="left-heading"><img class="mr-2" src="/images/lessons.svg" alt="img"> Lessons</div>
               <div class="right-icons">
                 <a href="javascript:void(0);"><img class="mr-2" src="/images/eye.svg" alt="img"></a>
                 <a href="javascript:void(0);"><img class="mr-2" src="/images/trash.svg" alt="img"></a>
                 <a href="javascript:void(0);"><img class="mr-2" src="/images/edit.svg" alt="img"></a>
                 <a href="javascript:void(0);" data-toggle="collapse" data-target="#lessons" aria-expanded="true" aria-controls="lessons">
                   <img src="/images/arrowdown.svg" alt="img">
                 </a>
               </div>
             </div>
             <div id="lessons" class="collapse show" data-parent="#section1">
               <div class="card-body">
                <div class="accordion" id="chp_section">
                 <div class="chp-add-section">
                   <div class="chp-heading">
                     <div class="chp-title">  
                       <img class="mr-2" src="/images/video1.svg" alt="img">
                       English Developing People, Leading Teams & Managing Processes
                     </div>
                     <div class="right-icons">
                       <a href="/courses/viewCourses"><img class="mr-2" src="/images/eye.svg" alt="img"></a>
                       <a href="#panel1" aria-expanded="false" data-toggle="collapse" data-target="#panel1" aria-controls="panel1">
                         <img class="mr-2" src="/images/edit.svg" alt="img">
                       </a>
                       <a class="delete-btn" href="javascript:void(0);"><img src="/images/trash.svg" alt="img"></a>
                     </div> 
                   </div>
                   <div class="collapse" id="panel1" data-parent="#chp_section">
                     <div class="card-body">
                       <div class="d-flex align-items-center justify-content-between mb-30">
                         <h3 class="title-text mb-0">Edit Lecture</h3>
                         <a data-toggle="collapse" href="#panel1" aria-expanded="false"><img src="/images/close.svg" alt="img"></a>
                       </div>
                       <ul class="nav nav-pills" id="pills-tab" role="tablist">
                         <li class="nav-item">
                           <a class="nav-link active" id="pills-basic-tab" data-toggle="pill" href="#pills-basic" role="tab" aria-controls="pills-basic" aria-selected="true"><img class="mr-2" src="/images/basic.svg" alt="img"> Basic</a>
                         </li>
                         <li class="nav-item">
                           <a class="nav-link" id="pills-video-tab" data-toggle="pill" href="#pills-video" role="tab" aria-controls="pills-video" aria-selected="false"><img class="mr-2" src="/images/video1.svg" alt="img"> Video</a>
                         </li>
                         <li class="nav-item">
                           <a class="nav-link" id="pills-attachments-tab" data-toggle="pill" href="#pills-attachments" role="tab" aria-controls="pills-attachments" aria-selected="false"><img class="mr-2" src="/images/link.svg" alt="img"> Attachments</a>
                         </li>
                       </ul>
                       <div class="tab-content" id="pills-tabContent">
                         <div class="tab-pane fade show active" id="pills-basic" role="tabpanel" aria-labelledby="pills-basic-tab">
                             <div class="row">
                               <div class="col-sm-12">
                                 <div class="form-group">
                                   <label class="form-label">Title</label>
                                   <input class="form-control" type="text" value="English Developing People, Leading Teams & Managing Processes">
                                  </div>
                               </div>
                               <div class="col-sm-12">
                                 <div class="form-group">
                                   <label class="form-label">Description</label>
                                   <textarea class="editer"></textarea>
                                  </div>
                               </div>
                               <div class="col-sm-12 text-right">
                                 <button class="btn theme-btn" type="button"><img class="mr-1" src="/images/save.svg" alt="img"> Save</button>
                               </div>
                             </div> 
                         </div>
                         <div class="tab-pane fade" id="pills-video" role="tabpanel" aria-labelledby="pills-video-tab">
                             <div class="row">
                               <div class="col-sm-12">
                                 <div class="form-group">
                                   <label class="form-label">Video URL</label>
                                   <input class="form-control" type="text" value="Enter your URL">
                                  </div>
                               </div>
                               <div class="col-sm-12">
                                 <div class="spacer">OR</div>
                               </div>
                               <div class="col-sm-12">
                                 <div class="form-group">
                                   <label class="form-label">Upload Video</label>
                                   <input type="file" name="cover_image" id="cover_image" class="form-control select-video h-auto" data-allowed-file-extensions="mp4 webm" data-max-file-size-preview="5M">
                                  </div>
                               </div>
                               <div class="col-sm-12 text-right">
                                 <button class="btn theme-btn" type="button"><img class="mr-1" src="/images/save.svg" alt="img"> Save</button>
                               </div>
                             </div>
                         </div>
                         <div class="tab-pane fade" id="pills-attachments" role="tabpanel" aria-labelledby="pills-attachments-tab">
                             <div class="row">
                               <div class="col-sm-12">
                                 <div class="form-group">
                                   <label class="form-label">Course title</label>
                                   <input class="form-control" type="text" value="Enter your title">
                                  </div>
                               </div>
                               <div class="col-sm-12">
                                 <div class="spacer">OR</div>
                               </div>
                               <div class="col-sm-12">
                                 <div class="form-group">
                                   <label class="form-label">Upload Attachments</label>
                                   <input type="file" name="cover_image" id="cover_image" class="form-control select-attachments h-auto" data-allowed-file-extensions="pdf" data-max-file-size-preview="5M">
                                  </div>
                               </div>
                               <div class="col-sm-12 text-right">
                                 <button class="btn theme-btn" type="button"><img class="mr-1" src="/images/save.svg" alt="img"> Save</button>
                               </div>
                             </div>
                         </div>
                       </div> 
                     </div>
                   </div>
                 </div>
                 <div class="chp-add-section">
                   <div class="chp-heading">
                     <div class="chp-title">  
                       <img class="mr-2" src="/images/basic.svg" alt="img">
                       English Developing People, Leading Teams & Managing Processes
                     </div>
                     <div class="right-icons">
                       <a href="/courses/viewCourses"><img class="mr-2" src="/images/eye.svg" alt="img"></a>
                       <a href="#panel2" aria-expanded="false" data-toggle="collapse" data-target="#panel2" aria-controls="panel2">
                         <img class="mr-2" src="/images/edit.svg" alt="img">
                       </a>
                       <a class="delete-btn" href="javascript:void(0);"><img src="/images/trash.svg" alt="img"></a>
                     </div> 
                   </div>
                   
                   <div class="collapse" id="panel2" data-parent="#chp_section">
                     <div class="card-body">
                       <div class="d-flex align-items-center justify-content-between mb-30">
                         <h3 class="title-text mb-0">Edit Lecture</h3>
                         <a data-toggle="collapse" href="#panel2" aria-expanded="false"><img src="/images/close.svg" alt="img"></a>
                       </div>
                       <ul class="nav nav-pills" id="pills-tab" role="tablist">
                         <li class="nav-item">
                           <a class="nav-link active" id="pills-basic1-tab" data-toggle="pill" href="#pills-basic1" role="tab" aria-controls="pills-basic1" aria-selected="true"><img class="mr-2" src="/images/basic.svg" alt="img"> Basic</a>
                         </li>
                         <li class="nav-item">
                           <a class="nav-link" id="pills-video1-tab" data-toggle="pill" href="#pills-video1" role="tab" aria-controls="pills-video1" aria-selected="false"><img class="mr-2" src="/images/video1.svg" alt="img"> Video</a>
                         </li>
                         <li class="nav-item">
                           <a class="nav-link" id="pills-attachments1-tab" data-toggle="pill" href="#pills-attachments1" role="tab" aria-controls="pills-attachments1" aria-selected="false"><img class="mr-2" src="/images/link.svg" alt="img"> Attachments</a>
                         </li>
                       </ul>
                       <div class="tab-content" id="pills-tabContent">
                         <div class="tab-pane fade show active" id="pills-basic1" role="tabpanel" aria-labelledby="pills-basic1-tab">
                             <div class="row">
                               <div class="col-sm-12">
                                 <div class="form-group">
                                   <label class="form-label">Course title</label>
                                   <input class="form-control" type="text" value="English Developing People, Leading Teams & Managing Processes">
                                  </div>
                               </div>
                               <div class="col-sm-12">
                                 <div class="form-group">
                                   <label class="form-label">Description</label>
                                   <textarea class="editer"></textarea>
                                  </div>
                               </div>
                               <div class="col-sm-12 text-right">
                                 <button class="btn theme-btn" type="button"><img class="mr-1" src="/images/save.svg" alt="img"> Save</button>
                               </div>
                             </div> 
                         </div>
                         <div class="tab-pane fade" id="pills-video1" role="tabpanel" aria-labelledby="pills-video1-tab">
                             <div class="row">
                               <div class="col-sm-12">
                                 <div class="form-group">
                                   <label class="form-label">Video URL</label>
                                   <input class="form-control" type="text" value="Enter your URL">
                                  </div>
                               </div>
                               <div class="col-sm-12">
                                 <div class="spacer">OR</div>
                               </div>
                               <div class="col-sm-12">
                                 <div class="form-group">
                                   <label class="form-label">Upload Video</label>
                                   <input type="file" name="cover_image" id="cover_image" class="form-control select-video h-auto" data-allowed-file-extensions="mp4 webm" data-max-file-size-preview="5M">
                                  </div>
                               </div>
                               <div class="col-sm-12 text-right">
                                 <button class="btn theme-btn" type="button"><img class="mr-1" src="/images/save.svg" alt="img"> Save</button>
                               </div>
                             </div>
                         </div>
                         <div class="tab-pane fade" id="pills-attachments1" role="tabpanel" aria-labelledby="pills-attachments1-tab">
                             <div class="row">
                               <div class="col-sm-12">
                                 <div class="form-group">
                                   <label class="form-label">Title</label>
                                   <input class="form-control" type="text" value="Enter your title">
                                  </div>
                               </div>
                               <div class="col-sm-12">
                                 <div class="spacer">OR</div>
                               </div>
                               <div class="col-sm-12">
                                 <div class="form-group">
                                   <label class="form-label">Upload Attachments</label>
                                   <input type="file" name="cover_image" id="cover_image" class="form-control select-attachments h-auto" data-allowed-file-extensions="pdf" data-max-file-size-preview="5M">
                                  </div>
                               </div>
                               <div class="col-sm-12 text-right">
                                 <button class="btn theme-btn" type="button"><img class="mr-1" src="/images/save.svg" alt="img"> Save</button>
                               </div>
                             </div>
                         </div>
                       </div> 
                     </div>
                   </div>
                 </div>
                 <div class="chp-add-section">
                   <div class="chp-heading">
                     <div class="chp-title">  
                       <img class="mr-2" src="/images/link.svg" alt="img">
                       English Developing People, Leading Teams & Managing Processes
                     </div>
                     <div class="right-icons">
                       <a href="/courses/viewCourses"><img class="mr-2" src="/images/eye.svg" alt="img"></a>
                       <a href="#panel3" aria-expanded="false" data-toggle="collapse" data-target="#panel3" aria-controls="panel3">
                         <img class="mr-2" src="/images/edit.svg" alt="img">
                       </a>
                       <a class="delete-btn" href="javascript:void(0);"><img src="/images/trash.svg" alt="img"></a>
                     </div> 
                   </div>
                   
                   <div class="collapse" id="panel3" data-parent="#chp_section">
                     <div class="card-body">
                       <div class="d-flex align-items-center justify-content-between mb-30">
                         <h3 class="title-text mb-0">Edit Lecture</h3>
                         <a data-toggle="collapse" href="#panel3" aria-expanded="false"><img src="/images/close.svg" alt="img"></a>
                       </div>
                       <ul class="nav nav-pills" id="pills-tab" role="tablist">
                         <li class="nav-item">
                           <a class="nav-link active" id="pills-basic1-tab" data-toggle="pill" href="#pills-basic2" role="tab" aria-controls="pills-basic2" aria-selected="true"><img class="mr-2" src="/images/basic.svg" alt="img"> Basic</a>
                         </li>
                         <li class="nav-item">
                           <a class="nav-link" id="pills-video2-tab" data-toggle="pill" href="#pills-video2" role="tab" aria-controls="pills-video1" aria-selected="false"><img class="mr-2" src="/images/video1.svg" alt="img"> Video</a>
                         </li>
                         <li class="nav-item">
                           <a class="nav-link" id="pills-attachments2-tab" data-toggle="pill" href="#pills-attachments2" role="tab" aria-controls="pills-attachments1" aria-selected="false"><img class="mr-2" src="/images/link.svg" alt="img"> Attachments</a>
                         </li>
                       </ul>
                       <div class="tab-content" id="pills-tabContent">
                         <div class="tab-pane fade show active" id="pills-basic2" role="tabpanel" aria-labelledby="pills-basic2-tab">
                             <div class="row">
                               <div class="col-sm-12">
                                 <div class="form-group">
                                   <label class="form-label">Title</label>
                                   <input class="form-control" type="text" value="English Developing People, Leading Teams & Managing Processes">
                                  </div>
                               </div>
                               <div class="col-sm-12">
                                 <div class="form-group">
                                   <label class="form-label">Description</label>
                                   <textarea class="editer"></textarea>
                                  </div>
                               </div>
                               <div class="col-sm-12 text-right">
                                 <button class="btn theme-btn" type="button"><img class="mr-1" src="/images/save.svg" alt="img"> Save</button>
                               </div>
                             </div>
                         </div>
                         <div class="tab-pane fade" id="pills-video2" role="tabpanel" aria-labelledby="pills-video2-tab">
                             <div class="row">
                               <div class="col-sm-12">
                                 <div class="form-group">
                                   <label class="form-label">Video URL</label>
                                   <input class="form-control" type="text" value="Enter your URL">
                                  </div>
                               </div>
                               <div class="col-sm-12">
                                 <div class="spacer">OR</div>
                               </div>
                               <div class="col-sm-12">
                                 <div class="form-group">
                                   <label class="form-label">Upload Video</label>
                                   <input type="file" name="cover_image" id="cover_image" class="form-control select-video h-auto" data-allowed-file-extensions="mp4 webm" data-max-file-size-preview="5M">
                                  </div>
                               </div>
                               <div class="col-sm-12 text-right">
                                 <button class="btn theme-btn" type="button"><img class="mr-1" src="/images/save.svg" alt="img"> Save</button>
                               </div>
                             </div>
                         </div>
                         <div class="tab-pane fade" id="pills-attachments2" role="tabpanel" aria-labelledby="pills-attachments2-tab">
                             <div class="row">
                               <div class="col-sm-12">
                                 <div class="form-group">
                                   <label class="form-label">Title</label>
                                   <input class="form-control" type="text" value="Enter your title">
                                  </div>
                               </div>
                               <div class="col-sm-12">
                                 <div class="spacer">OR</div>
                               </div>
                               <div class="col-sm-12">
                                 <div class="form-group">
                                   <label class="form-label">Upload Attachments</label>
                                   <input type="file" name="cover_image" id="cover_image" class="form-control select-attachments h-auto" data-allowed-file-extensions="pdf" data-max-file-size-preview="5M">
                                  </div>
                               </div>
                               <div class="col-sm-12 text-right">
                                 <button class="btn theme-btn" type="button"><img class="mr-1" src="/images/save.svg" alt="img"> Save</button>
                               </div>
                             </div>
                         </div>
                       </div> 
                     </div>
                   </div>
                 </div>
               </div>
              </div> 
             </div>
           </div>
          
           <div class="card">
             <div class="card-header">
               <div class="left-heading"> <img class="mr-2" src="/images/practice.svg" alt="img"> Practice</div>
               <div class="right-icons">
                 <a href="javascript:void(0);"><img class="mr-2" src="/images/eye.svg" alt="img"></a>
                 <a href="javascript:void(0);"><img class="mr-2" src="/images/trash.svg" alt="img"></a>
                 <a href="javascript:void(0);"><img class="mr-2" src="/images/edit.svg" alt="img"></a>
                 <a href="javascript:void(0);" data-toggle="collapse" data-target="#practice" aria-expanded="false" aria-controls="practice"><img src="/images/arrowdown.svg" alt="img">
                 </a>
               </div>
             </div>
             <div id="practice" class="collapse" data-parent="#section1">
               <div class="card-body">
                <div class="practice-card">
                  <h3 class="title-text mb-3">Add Practice</h3>
                  <ul class="nav nav-pills" id="pills-tab" role="tablist">
                    <li class="nav-item">
                      <a class="nav-link active" id="pills-single-sel-tab" data-toggle="pill" href="#pills-single-sel" role="tab" aria-controls="pills-single-sel" aria-selected="true"><img src="/images/single-sel.svg" alt="img"> Single Select</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" id="pills-multi-sel-tab" data-toggle="pill" href="#pills-multi-sel" role="tab" aria-controls="pills-multi-sel" aria-selected="false"><img src="/images/multi-sel.svg" alt="img"> Multiple Selects</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" id="pills-type-text-tab" data-toggle="pill" href="#pills-type-text" role="tab" aria-controls="pills-type-text" aria-selected="false"><img src="/images/type-text.svg" alt="img"> Type Text</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" id="pills-drag-drop-tab" data-toggle="pill" href="#pills-drag-drop" role="tab" aria-controls="pills-drag-drop" aria-selected="false"><img src="/images/drag-drop.svg" alt="img"> Drag & Drop</a>
                    </li>
                  </ul>
                  <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-single-sel" role="tabpanel" aria-labelledby="pills-single-sel-tab">
                      <h3 class="title-text mb-3">Add Single Question</h3>
                      <div class="row">
                        <div class="col-sm-12 col-md-4 col-lg-3 mb-3 mb-md-0">
                          <div class="form-group">
                            <input type="file" name="" id="" class="form-control single-img h-auto" data-allowed-file-extensions="jpg jpeg png svg" data-max-file-size-preview="5M">
                          </div>
                        </div>
                        <div class="col-sm-12 col-md-8 col-lg-9">
                          <div class="form-group">
                            <label class="form-label">Practice Question</label>
                            <input class="form-control" type="text" placeholder="Dose John go to the Zoo on Monday?">
                          </div>
                          <div class="form-group mb-0">
                            <label class="form-label">Discription</label>
                            <textarea class="form-control" placeholder="Enter your text"></textarea>
                          </div>
                        </div>
                      </div>
                      <div class="spacer2"></div>
                      <div class="d-flex align-items-center justify-content-between mb-30">
                        <h3 class="title-text mb-0">Add Options</h3>
                        <a class="add-section" href="javascript:void(0);"><img src="/images/addcircle.svg" alt="img"></a>
                      </div>
                      <div class="accordion" id="que_option">
                        <div class="chp-add-section">
                          <div class="chp-heading lightgray">
                            <div class="chp-title">  
                              <img class="mr-2" src="/images/basic.svg" alt="img">
                              01 Option
                            </div>
                            <div class="right-icons">
                              <a href="#add_option1" aria-expanded="false" data-toggle="collapse" data-target="#add_option1" aria-controls="add_option1">
                                <img class="mr-2" src="/images/edit.svg" alt="img">
                              </a>
                              <a class="delete-btn" href="javascript:void(0);"><img src="/images/trash.svg" alt="img"></a>
                              <label class="yes_no_toggle">
                                <span>Correct Answer ?</span>
                                <input type="checkbox" checked data-toggle="toggle" data-on="Yes" data-off="No" data-onstyle="success" data-offstyle="danger">
                              </label>
                            </div> 
                          </div>
                          <div class="collapse" id="add_option1" data-parent="#que_option">
                            <div class="card-body">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor.</div>
                          </div>
                        </div>
                        <div class="chp-add-section">
                          <div class="chp-heading lightgray">
                            <div class="chp-title">  
                              <img class="mr-2" src="/images/basic.svg" alt="img">
                              02 Option
                            </div>
                            <div class="right-icons">
                              <a href="#add_option2" aria-expanded="false" data-toggle="collapse" data-target="#add_option2" aria-controls="add_option2">
                                <img class="mr-2" src="/images/edit.svg" alt="img">
                              </a>
                              <a class="delete-btn" href="javascript:void(0);"><img src="/images/trash.svg" alt="img"></a>
                            </div> 
                          </div>
                          
                          <div class="collapse" id="add_option2" data-parent="#que_option">
                            <div class="card-body">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor.</div>
                          </div>
                        </div>
      
                      </div>
                    </div>
                    <div class="tab-pane fade" id="pills-multi-sel" role="tabpanel" aria-labelledby="pills-multi-sel-tab">Multiple Selects</div>
                    <div class="tab-pane fade" id="pills-type-text" role="tabpanel" aria-labelledby="pills-type-text-tab">Type Text</div>
                    <div class="tab-pane fade" id="pills-drag-drop" role="tabpanel" aria-labelledby="pills-drag-drop-tab">Drag & Drop</div>
                  </div>
                 </div>
                 <div class="accordion" id="que_section">
                  <div class="chp-add-section">
                    <div class="chp-heading">
                      <div class="chp-title">  
                        <img class="mr-2" src="/images/basic.svg" alt="img">
                        Other Practice Question
                      </div>
                      <div class="right-icons">
                        <a href="/courses/viewCourses"><img class="mr-2" src="/images/eye.svg" alt="img"></a>
                        <a href="#que_panel1" aria-expanded="false" data-toggle="collapse" data-target="#que_panel1" aria-controls="que_panel1">
                          <img class="mr-2" src="/images/edit.svg" alt="img">
                        </a>
                        <a class="delete-btn" href="javascript:void(0);"><img src="/images/trash.svg" alt="img"></a>
                      </div> 
                    </div>
                    <div class="collapse" id="que_panel1" data-parent="#que_section">
                      <div class="card-body">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor.</div>
                    </div>
                  </div>
                  <div class="chp-add-section">
                    <div class="chp-heading">
                      <div class="chp-title">  
                        <img class="mr-2" src="/images/basic.svg" alt="img">
                        Other Practice Question
                      </div>
                      <div class="right-icons">
                        <a href="/courses/viewCourses"><img class="mr-2" src="/images/eye.svg" alt="img"></a>
                        <a href="#que_panel2" aria-expanded="false" data-toggle="collapse" data-target="#que_panel2" aria-controls="que_panel2">
                          <img class="mr-2" src="/images/edit.svg" alt="img">
                        </a>
                        <a class="delete-btn" href="javascript:void(0);"><img src="/images/trash.svg" alt="img"></a>
                      </div> 
                    </div>
                    
                    <div class="collapse" id="que_panel2" data-parent="#que_section">
                      <div class="card-body">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor.</div>
                    </div>
                  </div>

                </div>
               </div>
             </div>
           </div>
   
           <div class="card">
             <div class="card-header">
               <div class="left-heading"> <img class="mr-2" src="/images/challenges.svg" alt="img"> Challenges</div>
               <div class="right-icons">
                 <a href="javascript:void(0);"><img class="mr-2" src="/images/eye.svg" alt="img"></a>
                 <a href="javascript:void(0);"><img class="mr-2" src="/images/trash.svg" alt="img"></a>
                 <a href="javascript:void(0);"><img class="mr-2" src="/images/edit.svg" alt="img"></a>
                 <a href="javascript:void(0);" data-toggle="collapse" data-target="#challenges" aria-expanded="false" aria-controls="challenges">
                   <img src="/images/arrowdown.svg" alt="img"> 
                 </a>
               </div>
             </div>
             <div id="challenges" class="collapse" data-parent="#section1">
               <div class="card-body">
                 Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor.
               </div>
             </div>
           </div>
         </div>
         
         <div class="form-group mb-0 mt-4 clearfix">
           <a href="javascript:void(0);" class="form-wizard-previous-btn theme-btn float-left">Previous</a>
           <a href="javascript:void(0);" class="form-wizard-next-btn theme-btn float-right">Add</a>
         </div>
       </fieldset>	
       <fieldset class="wizard-fieldset">
          <div class="success-box">
           <img src="/images/success-icon.svg" alt="img">
           <h4>Successfully Added to List</h4>
           <p>Lorem ipsum dolor sit amet secteturAmet<br> eu id sed nibh pellentesque.</p>
           <a href="/courses/create" class="theme-btn"><img class="mr-2" src="/images/arrow-left.svg" alt="img"></i> Back To List</a>
        </div>
       </fieldset>	
     </form>
   </div>
</div>