
<body class="nav-md">
  <div class="container body">
    <div class="main_container">
      <%- include('../../partials/_sidebar'); %>

        <%- include('../../partials/_topNavigation'); %>


          <div class="right_col" role="main">
            <div class="">

              <!-- page title starts -->
              <div class="page-title">
                <div class="title_left">
                  <!-- <h3>School</h3> -->
                </div>

                <!-- <div class="title_right">
                  <div class="col-md-5 col-sm-5 form-group pull-right top_search">
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="Search for...">
                      <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Go!</button>
                      </span>
                    </div>
                  </div>
                </div> -->
              </div>
              <div class="clearfix"></div>
              <!-- page title end -->

              <!-- page content starts-->
              <div class="row">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Add School<small></small></h2>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <br>
                    <form id="createSchool" action="./store" method="post" class="form-horizontal form-label-left"
                      novalidate>

                      <div class="item form-group">
                        <label class="col-form-label col-md-3 col-sm-3 label-align" for="name">School Name<span
                            class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 ">
                          <input type="text" name="name" class="form-control" placeholder="Enter Name.." id="name"
                            required="required">
                        </div>
                      </div>

                      <div class="item form-group">
                        <label class="col-form-label col-md-3 col-sm-3 label-align" for="phone">Contact No.
                        </label>
                        <div class="col-md-6 col-sm-6 ">
                          <input type="text" name="phone" class="form-control " placeholder="Enter Phone.." id="phone">
                        </div>
                      </div>

                      <div class="item form-group">
                        <label class="col-form-label col-md-3 col-sm-3 label-align" for="email">Email Address
                        </label>
                        <div class="col-md-6 col-sm-6 ">
                          <input type="email" name="email" class="form-control" placeholder="Enter Email.." id="email">
                        </div>
                      </div>

                      <div class="item form-group">
                        <label class="col-form-label col-md-3 col-sm-3 label-align" for="address">School Address
                        </label>
                        <div class="col-md-6 col-sm-6 ">
                          <textarea name="address" rows="5" class="form-control" placeholder="Enter Address.."
                            id="address"></textarea>
                        </div>
                      </div>

                      <div class="item form-group">
                        <label class="col-form-label col-md-3 col-sm-3 label-align" for="status">Status<span
                            class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 ">
                          <select class="form-control" name="status" id="status">
                            <option value="0">Deactivate</option>
                            <option value="1">Activate</option>
                          </select>
                        </div>
                      </div>

                      <div class="ln_solid"></div>
                      <div class="form-group row">
                        <div class="col-md-9 col-sm-9  offset-md-3">
                          <button type="submit" id="storeSchoolBtn" class="btn btn-success form-button">Save</button>
                        </div>
                      </div>

                    </form>
                  </div>
                </div>
              </div>
              <!-- page title end -->
            </div>
          </div>

    </div>
  </div>
</body>

<script type="text/javascript">
 
</script>