<div class="right_col" role="main">
  <div class="form-wizard">
    <form id="createContent" class="form-design" method="post" enctype="multipart/form-data" autocomplete="off">
      <div class="form-wizard-header">
        <ul class="list-unstyled form-wizard-steps clearfix">
          <li class="active">
            <span class="step_icon">
              <svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 34 34" fill="none">
                <path
                  d="M31.1663 14.1667V21.25C31.1663 28.3334 28.333 31.1667 21.2497 31.1667H12.7497C5.66634 31.1667 2.83301 28.3334 2.83301 21.25V12.75C2.83301 5.66671 5.66634 2.83337 12.7497 2.83337H19.833"
                  stroke="#4A4674" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M31.1663 14.1667H25.4997C21.2497 14.1667 19.833 12.75 19.833 8.50004V2.83337L31.1663 14.1667Z"
                  stroke="#4A4674" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                <path opacity="0.4" d="M9.91699 18.4166H18.417M9.91699 24.0833H15.5837" stroke="#4A4674"
                  stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
              </svg>
            </span>
            <span class="step_descr">Basic Information</span>
          </li>
          <li>
            <span class="step_icon">
              <svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 34 34" fill="none">
                <path
                  d="M31.1663 6.61862V23.7178C31.1663 25.0778 30.0613 26.3528 28.7013 26.5228L28.2338 26.5795C25.1455 26.9903 20.3855 28.5628 17.6655 30.0645C17.2972 30.277 16.688 30.277 16.3055 30.0645L16.2488 30.0361C13.5288 28.5486 8.78301 26.9903 5.70884 26.5795L5.29801 26.5228C3.93801 26.3528 2.83301 25.0778 2.83301 23.7178V6.60446C2.83301 4.91862 4.20717 3.64362 5.89301 3.78529C8.86801 4.02612 13.373 5.52779 15.8947 7.10029L16.2488 7.31279C16.6597 7.56779 17.3397 7.56779 17.7505 7.31279L17.9913 7.15696C18.8838 6.60446 20.0172 6.05196 21.2497 5.55612C23.1055 4.81946 25.1738 4.22446 26.9163 3.94112C27.2988 3.87029 27.6672 3.82779 28.0072 3.79946H28.0922C29.778 3.65779 31.1663 4.91862 31.1663 6.61862Z"
                  stroke="#4A4674" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                <path opacity="0.4"
                  d="M17 7.77461V29.0246M26.9167 3.9397V11.3347L24.0833 9.45053L21.25 11.3347V5.5547C23.1058 4.81803 25.1742 4.22303 26.9167 3.9397V3.9397Z"
                  stroke="#4A4674" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
              </svg>
            </span>
            <span class="step_descr">Add Content</span>
          </li>
          <li>
            <span class="step_icon">
              <svg xmlns="http://www.w3.org/2000/svg" width="31" height="22" viewBox="0 0 31 22" fill="none">
                <path d="M30 1L10.0625 21L1 11.9091" stroke="#4A4674" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round" />
              </svg>
            </span>
            <span class="step_descr">Complete</span>
          </li>
        </ul>
      </div>

      <!-- Step1-->
      <fieldset class="wizard-fieldset show">

        <div class="d-flex align-items-center justify-content-between mb-30">
          <h3 class="title-text mb-0">Basic Information</h3>
          <a class="back-link" href="/learning-content"><span class="fa fa-chevron-left mr-2"></span>Back to list</a>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label class="form-label" for="title">Title<span class="required">*</span>
              </label>
              <input type="text" name="title" class="form-control wizard-required" placeholder="Enter title.."
                id="title">
              <div class="wizard-form-error"></div>
            </div>
          </div>

          <div class="col-sm-12">
            <div class="form-group">
              <label class="form-label" for="shortDescription">Short Description<span class="required">*</span>
              </label>
              <textarea name="short_description" rows="5" class="form-control wizard-required"
                placeholder="Enter short description.." id="shortDescription"></textarea>
              <div class="wizard-form-error"></div>
            </div>
          </div>

          <div class="col-sm-12 col-md-6">
            <div class="form-group">
              <label class="form-label" for="topic">Topic<span class="required">*</span>
              </label>
              <select class="form-control wizard-required" name="topic_id" id="topics" tabindex="-1" single>
                <option value="">Select Topic</option>
                <% for(topic of topics) { %>
                  <option value="<%=topic.id%>">
                    <%=topic.name%>
                  </option>
                  <% } %>
              </select>
              <div class="wizard-form-error"></div>
            </div>
          </div>

          <div class="col-sm-12 col-md-6">
            <div class="form-group">
              <label class="form-label" for="grade">Grade<span class="required">*</span>
              </label>
              <select class="form-control wizard-required" name="grade_id" id="grades" tabindex="-1" single>
                <option value="">Select Grade</option>
                <% for(grade of grades) { %>
                  <option value="<%=grade.id%>">
                    <%=grade.name%>
                  </option>
                  <% } %>
              </select>
              <div class="wizard-form-error"></div>
            </div>
          </div>

          <div class="col-sm-12">
            <div class="drop-file">
              <label class="form-label">Upload Thumbnail</label>
              <input type="file" name="thumbnail" id="thumbnail" class="form-control wizard-required h-auto"
                data-allowed-file-extensions="jpg png jpeg mp4" data-max-file-size-preview="5M">
              <div class="wizard-form-error"></div>
            </div>
          </div>

        </div>

        <div class="form-group mb-0 mt-4 clearfix">
          <a href="javascript:void(0);" class="form-wizard-next-btn theme-btn float-right">Next</a>
        </div>
      </fieldset>
      <!-- Step1-->

      <!-- Step2-->
      <fieldset class="wizard-fieldset">
        <div class="add-more-section d-flex align-items-center justify-content-between mb-4">
          <h3 class="title-text mb-0">Add Content</h3>
          <a class="theme-btn add-section" href="javascript:void(0);"><img src="/images/addcircle.svg" alt="img"> Add Section</a>
        </div>
        <div class="content-section">
          <div class="accordion" id="section1">
            <div class="card">
              <div class="card-header">
                <div class="left-heading"><img class="mr-2" src="/images/lessons.svg" alt="img">
                  <input class="editable-heading" type="text" value="Lessons">
                </div>
                <div class="right-icons">
                  <a href="javascript:void(0);"><img class="mr-1" src="/images/addcircle.svg" alt="img"></a>
                  <a href="javascript:void(0);"><img class="mr-1" src="/images/eye.svg" alt="img"></a>
                  <a href="javascript:void(0);"><img class="mr-1" src="/images/trash.svg" alt="img"></a>
                  <a href="javascript:void(0);"><img class="mr-1" src="/images/edit.svg" alt="img"></a>
                  <a href="javascript:void(0);" data-toggle="collapse" data-target="#lessons" aria-expanded="true"
                    aria-controls="lessons">
                    <img src="/images/arrowdown.svg" alt="img">
                  </a>
                </div>
              </div>
              <div id="lessons" class="collapse show" data-parent="#section1">
                <div class="card-body">
                  <div class="accordion" id="chp_section">
                    <div class="chp-add-section">
                      <div class="chp-heading">
                        <div class="chp-title">
                          <img class="mr-1" src="/images/video1.svg" alt="img">
                          English Developing People, Leading Teams & Managing Processes
                        </div>
                        <div class="right-icons">
                          <a href="/learning-content/viewCourses"><img class="mr-2" src="/images/eye.svg" alt="img"></a>
                          <a href="#panel1" aria-expanded="false" data-toggle="collapse" data-target="#panel1"
                            aria-controls="panel1">
                            <img class="mr-2" src="/images/edit.svg" alt="img">
                          </a>
                          <a class="delete-btn" href="javascript:void(0);"><img src="/images/trash.svg" alt="img"></a>
                        </div>
                      </div>
                      <div class="collapse" id="panel1" data-parent="#chp_section">
                        <div class="card-body">
                          <div class="d-flex align-items-center justify-content-between mb-4">
                            <h3 class="title-text mb-0">Edit Lecture</h3>
                            <a data-toggle="collapse" href="#panel1" aria-expanded="false"><img src="/images/close.svg"
                                alt="img"></a>
                          </div>
                          <ul class="nav nav-pills" id="pills-tab" role="tablist">
                            <li class="nav-item">
                              <a class="nav-link active" id="pills-basic-tab" data-toggle="pill" href="#pills-basic"
                                role="tab" aria-controls="pills-basic" aria-selected="true"><img class="mr-1"
                                  src="/images/basic.svg" alt="img"> Basic</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" id="pills-video-tab" data-toggle="pill" href="#pills-video" role="tab"
                                aria-controls="pills-video" aria-selected="false"><img class="mr-1"
                                  src="/images/video1.svg" alt="img"> Video</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" id="pills-attachments-tab" data-toggle="pill" href="#pills-attachments"
                                role="tab" aria-controls="pills-attachments" aria-selected="false"><img class="mr-1"
                                  src="/images/link.svg" alt="img"> Attachments</a>
                            </li>
                          </ul>
                          <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane fade show active" id="pills-basic" role="tabpanel"
                              aria-labelledby="pills-basic-tab">
                              <div class="row">
                                <div class="col-sm-12">
                                  <div class="form-group">
                                    <label class="form-label">Title</label>
                                    <input class="form-control" type="text"
                                      value="English Developing People, Leading Teams & Managing Processes">
                                  </div>
                                </div>
                                <div class="col-sm-12">
                                  <div class="form-group">
                                    <label class="form-label">Description</label>
                                    <textarea class="editer"></textarea>
                                  </div>
                                </div>
                                <div class="col-sm-12 text-right">
                                  <button class="btn theme-btn" type="button"><img class="mr-1" src="/images/save.svg"
                                      alt="img"> Save</button>
                                </div>
                              </div>
                            </div>
                            <div class="tab-pane fade" id="pills-video" role="tabpanel" aria-labelledby="pills-video-tab">
                              <div class="row">
                                <div class="col-sm-12">
                                  <div class="form-group">
                                    <label class="form-label">Video URL</label>
                                    <input class="form-control" type="text" value="Enter your URL">
                                  </div>
                                </div>
                                <div class="col-sm-12">
                                  <div class="spacer">OR</div>
                                </div>
                                <div class="col-sm-12">
                                  <div class="form-group">
                                    <label class="form-label">Upload Video</label>
                                    <input type="file" name="cover_image" id="cover_image"
                                      class="form-control select-video h-auto" data-allowed-file-extensions="mp4 webm"
                                      data-max-file-size-preview="5M">
                                  </div>
                                </div>
                                <div class="col-sm-12 text-right">
                                  <button class="btn theme-btn" type="button"><img class="mr-1" src="/images/save.svg"
                                      alt="img"> Save</button>
                                </div>
                              </div>
                            </div>
                            <div class="tab-pane fade" id="pills-attachments" role="tabpanel"
                              aria-labelledby="pills-attachments-tab">
                              <div class="row">
                                <div class="col-sm-12">
                                  <div class="form-group">
                                    <label class="form-label">Course title</label>
                                    <input class="form-control" type="text" value="Enter your title">
                                  </div>
                                </div>
                                <div class="col-sm-12">
                                  <div class="spacer">OR</div>
                                </div>
                                <div class="col-sm-12">
                                  <div class="form-group">
                                    <label class="form-label">Upload Attachments</label>
                                    <input type="file" name="cover_image" id="cover_image"
                                      class="form-control select-attachments h-auto" data-allowed-file-extensions="pdf"
                                      data-max-file-size-preview="5M">
                                  </div>
                                </div>
                                <div class="col-sm-12 text-right">
                                  <button class="btn theme-btn" type="button"><img class="mr-1" src="/images/save.svg"
                                      alt="img"> Save</button>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header">
                <div class="left-heading"> <img class="mr-2" src="/images/practice.svg" alt="img"><input class="editable-heading" type="text" value="Practices"></div>
                <div class="right-icons">
                  <a href="javascript:void(0);"><img class="mr-1" src="/images/eye.svg" alt="img"></a>
                  <a href="javascript:void(0);"><img class="mr-1" src="/images/trash.svg" alt="img"></a>
                  <a href="javascript:void(0);"><img class="mr-1" src="/images/edit.svg" alt="img"></a>
                  <a href="javascript:void(0);" data-toggle="collapse" data-target="#practice" aria-expanded="false"
                    aria-controls="practice"><img src="/images/arrowdown.svg" alt="img">
                  </a>
                </div>
              </div>
              <div id="practice" class="collapse" data-parent="#section1">
                <div class="card-body">
                  <div class="practice-card">
                    <h3 class="title-text mb-3">Add Practice</h3>
                    <ul class="nav nav-pills" id="pills-tab" role="tablist">
                      <li class="nav-item">
                        <a class="nav-link active" id="pills-single-sel-tab" data-toggle="pill" href="#pills-single-sel"
                          role="tab" aria-controls="pills-single-sel" aria-selected="true"><img
                            src="/images/single-sel.svg" alt="img">Single Select</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" id="pills-multi-sel-tab" data-toggle="pill" href="#pills-multi-sel" role="tab"
                          aria-controls="pills-multi-sel" aria-selected="false"><img src="/images/multi-sel.svg"
                            alt="img"> Multiple Selects</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" id="pills-type-text-tab" data-toggle="pill" href="#pills-type-text" role="tab"
                          aria-controls="pills-type-text" aria-selected="false"><img src="/images/type-text.svg"
                            alt="img"> Type Text</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" id="pills-drag-drop-tab" data-toggle="pill" href="#pills-drag-drop" role="tab"
                          aria-controls="pills-drag-drop" aria-selected="false"><img src="/images/drag-drop.svg"
                            alt="img"> Drag & Drop</a>
                      </li>
                    </ul>
                    <div class="tab-content" id="pills-tabContent">
                      <div class="tab-pane fade show active" id="pills-single-sel" role="tabpanel"
                        aria-labelledby="pills-single-sel-tab">
                        <h3 class="title-text mb-3">Add Single Question</h3>
                        <div class="row">
                          <div class="col-sm-12 col-md-4 col-lg-3 mb-3 mb-md-0">
                            <div class="form-group">
                              <input type="file" name="" id="" class="form-control single-img h-auto"
                                data-allowed-file-extensions="jpg jpeg png svg" data-max-file-size-preview="5M">
                            </div>
                          </div>
                          <div class="col-sm-12 col-md-8 col-lg-9">
                            <div class="form-group">
                              <label class="form-label">Practice Question</label>
                              <input class="form-control" type="text" placeholder="Dose John go to the Zoo on Monday?">
                            </div>
                            <div class="form-group mb-0">
                              <label class="form-label">Discription</label>
                              <textarea class="form-control" placeholder="Enter your text"></textarea>
                            </div>
                          </div>
                        </div>
                        <div class="spacer2"></div>
                        <div class="w-50 mx-auto add-more-section mb-30">
                          <a class="add-section theme-btn w-100 text-center" href="javascript:void(0);"><img src="/images/addcircle.svg" alt="img"> Add Options</a>
                        </div>
                        <div class="accordion" id="que_option">
                          <div class="chp-add-section">
                            <div class="chp-heading lightgray">
                              <div class="chp-title">
                                <img class="mr-1" src="/images/basic.svg" alt="img">
                                01 Option
                              </div>
                              <div class="right-icons">
                                <a href="#add_option1" aria-expanded="false" data-toggle="collapse"
                                  data-target="#add_option1" aria-controls="add_option1">
                                  <img class="mr-1" src="/images/edit.svg" alt="img">
                                </a>
                                <a class="delete-btn" href="javascript:void(0);"><img src="/images/trash.svg"
                                    alt="img"></a>
                                <label class="yes_no_toggle">
                                  <span>Correct Answer ?</span>
                                  <input type="checkbox" checked data-toggle="toggle" data-on="Yes" data-off="No"
                                    data-onstyle="success" data-offstyle="danger">
                                </label>
                              </div>
                            </div>
                            <div class="collapse" id="add_option1" data-parent="#que_option">
                              <div class="card-body">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
                                terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor.</div>
                            </div>
                          </div>
                          <div class="chp-add-section">
                            <div class="chp-heading lightgray">
                              <div class="chp-title">
                                <img class="mr-1" src="/images/basic.svg" alt="img">
                                02 Option
                              </div>
                              <div class="right-icons">
                                <a href="#add_option2" aria-expanded="false" data-toggle="collapse"
                                  data-target="#add_option2" aria-controls="add_option2">
                                  <img class="mr-1" src="/images/edit.svg" alt="img">
                                </a>
                                <a class="delete-btn" href="javascript:void(0);"><img src="/images/trash.svg"
                                    alt="img"></a>
                              </div>
                            </div>

                            <div class="collapse" id="add_option2" data-parent="#que_option">
                              <div class="card-body">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
                                terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor.</div>
                            </div>
                          </div>
                        </div>
                        <div class="add_option_block">
                          <div class="add_option_form">
                            <a href="javascript:void(0);" class="close_btn"><img src="/images/close.svg" alt="img"></a>
                            <div class="row">
                              <div class="col-sm-12 col-md-4 col-lg-3 col-xl-2">
                                <div class="form-group">
                                  <input type="file" name="" id="" class="form-control single-img h-auto" data-allowed-file-extensions="jpg jpeg png svg" data-max-file-size-preview="5M">
                                </div>
                              </div>
                              <div class="col-sm-12 col-md-8 col-lg-9 col-xl-10">
                                <div class="form-group">
                                  <label class="form-label">Add Option</label>
                                  <input class="form-control" type="text" placeholder="04 Option">
                                </div>
                                <div class="form-group">
                                  <label class="form-label">Add Explanation</label>
                                  <textarea class="form-control" placeholder="Text Here"></textarea>
                                </div>
                                <div class="form-group mb-0">
                                  <div class="row">
                                    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-8">
                                      <label class="form-label mb-0">Display preference</label>
                                      <div class="btn-group">
                                        <div class="option-check-btn">
                                          <input type="checkbox" class="btn-check" id="btn-check-1">
                                          <label class="check-label" for="btn-check-1">Text</label>
                                        </div>  
                                        <div class="option-check-btn">
                                          <input type="checkbox" class="btn-check" id="btn-check-2" checked>
                                          <label class="check-label" for="btn-check-2">Image</label>
                                        </div>  
                                        <div class="option-check-btn">
                                          <input type="checkbox" class="btn-check" id="btn-check-3">
                                          <label class="check-label" for="btn-check-3">Both</label>
                                        </div>  
                                      </div>
                                      
                                    </div>
                                    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-4 align-self-center">
                                      <div class="yes_no_toggle justify-content-xl-end">
                                        <span>Correct Answer ?</span>
                                        <input type="checkbox" checked data-toggle="toggle" data-on="Yes" data-off="No" data-onstyle="success" data-offstyle="danger">
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="form-btn">
                            <a href="javascript:void(0);" class="theme-btn shadow-btn">Close</a>
                            <button type="button" class="theme-btn2 shadow-btn2">Save</button>
                          </div>
                        </div>  
                      </div>
                      <div class="tab-pane fade" id="pills-multi-sel" role="tabpanel"
                        aria-labelledby="pills-multi-sel-tab">Multiple Selects</div>
                      <div class="tab-pane fade" id="pills-type-text" role="tabpanel"
                        aria-labelledby="pills-type-text-tab">Type Text</div>
                      <div class="tab-pane fade" id="pills-drag-drop" role="tabpanel"
                        aria-labelledby="pills-drag-drop-tab">Drag & Drop</div>
                    </div>
                  </div>
                  <div class="accordion" id="que_section">
                    <div class="chp-add-section">
                      <div class="chp-heading">
                        <div class="chp-title">
                          <img class="mr-1" src="/images/basic.svg" alt="img">
                          Other Practice Question
                        </div>
                        <div class="right-icons">
                          <a href="/learning-content/viewCourses"><img class="mr-1" src="/images/eye.svg" alt="img"></a>
                          <a href="#que_panel1" aria-expanded="false" data-toggle="collapse" data-target="#que_panel1"
                            aria-controls="que_panel1">
                            <img class="mr-1" src="/images/edit.svg" alt="img">
                          </a>
                          <a class="delete-btn" href="javascript:void(0);"><img src="/images/trash.svg" alt="img"></a>
                        </div>
                      </div>
                      <div class="collapse" id="que_panel1" data-parent="#que_section">
                        <div class="card-body">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                          richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor.</div>
                      </div>
                    </div>
                    <div class="chp-add-section">
                      <div class="chp-heading">
                        <div class="chp-title">
                          <img class="mr-1" src="/images/basic.svg" alt="img">
                          Other Practice Question
                        </div>
                        <div class="right-icons">
                          <a href="/learning-content/viewCourses"><img class="mr-1" src="/images/eye.svg" alt="img"></a>
                          <a href="#que_panel2" aria-expanded="false" data-toggle="collapse" data-target="#que_panel2"
                            aria-controls="que_panel2">
                            <img class="mr-1" src="/images/edit.svg" alt="img">
                          </a>
                          <a class="delete-btn" href="javascript:void(0);"><img src="/images/trash.svg" alt="img"></a>
                        </div>
                      </div>

                      <div class="collapse" id="que_panel2" data-parent="#que_section">
                        <div class="card-body">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                          richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor.</div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header">
                <div class="left-heading"> <img class="mr-2" src="/images/challenges.svg" alt="img"><input class="editable-heading" type="text" value="Challenges"></div>
                <div class="right-icons">
                  <a href="javascript:void(0);"><img class="mr-1" src="/images/eye.svg" alt="img"></a>
                  <a href="javascript:void(0);"><img class="mr-1" src="/images/trash.svg" alt="img"></a>
                  <a href="javascript:void(0);"><img class="mr-1" src="/images/edit.svg" alt="img"></a>
                  <a href="javascript:void(0);" data-toggle="collapse" data-target="#challenges" aria-expanded="false"
                    aria-controls="challenges">
                    <img src="/images/arrowdown.svg" alt="img">
                  </a>
                </div>
              </div>
              <div id="challenges" class="collapse" data-parent="#section1">
                <div class="card-body">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
                  moon officia aute, non cupidatat skateboard dolor.
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group mb-0 mt-4 clearfix">
          <a href="javascript:void(0);" class="form-wizard-previous-btn theme-btn float-left">Previous</a>
          <a href="javascript:void(0);" class="form-wizard-next-btn theme-btn float-right">Add</a>
        </div>
      </fieldset>
      <!-- Step2-->

      <!-- Step3-->
      <fieldset class="wizard-fieldset">

        <div class="success-box">
          <img src="/images/success-icon.svg" alt="img">
          <h4>Successfully Added to List</h4>
          <p>Lorem ipsum dolor sit amet secteturAmet<br> eu id sed nibh pellentesque.</p>
          <a href="/learning-content" class="theme-btn"><img class="mr-2" src="/images/arrow-left.svg" alt="img"></i>
            Back To List</a>
        </div>

      </fieldset>
      <!-- Step3-->

    </form>
  </div>
</div>


<script type="text/javascript">

  $(document).ready(function () {

    $("#topics").select2({
      placeholder: "Select Topic",
      allowClear: false,
    });

    $("#grades").select2({
      placeholder: "Select Grade",
      allowClear: false,
    });

    $('#thumbnail').dropify({
      tpl: {
        message: '<div class="dropify-message"><span class="file-icon" /> <p>Drag & Drop here size should be</p><a class="d-inline-block mt-2 mb-3 theme-btn" href="javasript:void(0);">Select File</a><h6 class="mb-0 fn-12 text-dblue">Supported formates : JPEG, PNG, MP4</h6></div>',
      },
    });

    $('.select-video').dropify({
      tpl: {
        message: '<div class="dropify-message"><span class="file-icon" /> <p>Drag & Drop here size should be</p><a class="d-inline-block mt-2 mb-3 theme-btn" href="javasript:void(0);">Select File</a><h6 class="mb-0 fn-12 text-dblue">Select your preferred video type. (.mp4, YouTube, Vimeo etc.)</h6></div>',
      },
    });

    $('.select-attachments').dropify({
      tpl: {
        message: '<div class="dropify-message"><span class="file-icon" /> <p>Drag & Drop here size should be</p><a class="d-inline-block mt-2 mb-3 theme-btn" href="javasript:void(0);">+ Attachments</a><h6 class="mb-0 fn-12 text-dblue">Supported formates : (PDF, Excel)</h6></div>',
      },
    });

    $('.single-img').dropify({
      tpl: {
        message: '<div class="dropify-message"><img src="/images/frame.svg" alt="img"> <p>Drag & Drop here</p><h6 class="mb-0 mt-1 fn-12 text-dblue">Select your preferred video type. (JPEG, PNG, SVG, etc.)</h6></div>',
      },
    });

    // tinyMce Editor
    tinymce.init({
      selector: '.editer',
      height: 300,
      menubar: false,
      statusbar: false,
      plugins: [
        'advlist autolink lists link image charmap print preview anchor textcolor',
        'searchreplace visualblocks code fullscreen',
        'insertdatetime media table contextmenu paste code help wordcount'
      ],
      mobile: {
        theme: 'mobile'
      },
      toolbar: 'insert | undo redo |  formatselect | bold italic backcolor  | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | removeformat | help',
    });

  });

  $(document).ready(function () {
    $("#chp_section").on('click', '.delete-btn', function () {
      $(this).closest('.chp-add-section').remove();
    });
  });

  // Form Stepper 
  jQuery(document).ready(function () {
    // click on next button
    jQuery('.form-wizard-next-btn').click(function () {
      var parentFieldset = jQuery(this).parents('.wizard-fieldset');
      var currentActiveStep = jQuery(this).parents('.form-wizard').find('.form-wizard-steps .active');
      var next = jQuery(this);
      var nextWizardStep = true;
      parentFieldset.find('.wizard-required').each(function () {
        var thisValue = jQuery(this).val();
        var thisType = jQuery(this).attr("type");

        if (thisValue == "") {
          if (thisType == 'file') {
            jQuery(this).parents(".dropify-wrapper").css("border-color", "red");
          }
          jQuery(this).siblings(".wizard-form-error").slideDown();
          nextWizardStep = false;
        }
        else {
          if (thisType == 'file') {
            jQuery(this).parents(".dropify-wrapper").css("border-color", "#4A4674");
          }
          jQuery(this).siblings(".wizard-form-error").slideUp();
        }
      });
      if (nextWizardStep) {
        next.parents('.wizard-fieldset').removeClass("show", "400");
        currentActiveStep.removeClass('active').addClass('activated').next().addClass('active', "400");
        next.parents('.wizard-fieldset').next('.wizard-fieldset').addClass("show", "400");
        jQuery(document).find('.wizard-fieldset').each(function () {
          if (jQuery(this).hasClass('show')) {
            var formAtrr = jQuery(this).attr('data-tab-content');
            jQuery(document).find('.form-wizard-steps .form-wizard-step-item').each(function () {
              if (jQuery(this).attr('data-attr') == formAtrr) {
                jQuery(this).addClass('active');
                var innerWidth = jQuery(this).innerWidth();
                var position = jQuery(this).position();
                jQuery(document).find('.form-wizard-step-move').css({ "left": position.left, "width": innerWidth });
              } else {
                jQuery(this).removeClass('active');
              }
            });
          }
        });
      }
    });
    //click on previous button

    //click on previous button
    jQuery('.form-wizard-previous-btn').click(function () {
      var counter = parseInt(jQuery(".wizard-counter").text());;
      var prev = jQuery(this);
      var currentActiveStep = jQuery(this).parents('.form-wizard').find('.form-wizard-steps .active');
      prev.parents('.wizard-fieldset').removeClass("show", "400");
      prev.parents('.wizard-fieldset').prev('.wizard-fieldset').addClass("show", "400");
      currentActiveStep.removeClass('active').prev().removeClass('activated').addClass('active', "400");
      jQuery(document).find('.wizard-fieldset').each(function () {
        if (jQuery(this).hasClass('show')) {
          var formAtrr = jQuery(this).attr('data-tab-content');
          jQuery(document).find('.form-wizard-steps .form-wizard-step-item').each(function () {
            if (jQuery(this).attr('data-attr') == formAtrr) {
              jQuery(this).addClass('active');
              var innerWidth = jQuery(this).innerWidth();
              var position = jQuery(this).position();
              jQuery(document).find('.form-wizard-step-move').css({ "left": position.left, "width": innerWidth });
            } else {
              jQuery(this).removeClass('active');
            }
          });
        }
      });
    });
    //click on form submit button
    jQuery(document).on("click", ".form-wizard .form-wizard-submit", function () {
      var parentFieldset = jQuery(this).parents('.wizard-fieldset');
      var currentActiveStep = jQuery(this).parents('.form-wizard').find('.form-wizard-steps .active');
      parentFieldset.find('.wizard-required').each(function () {
        var thisValue = jQuery(this).val();
        var thisType = jQuery(this).attr("type");

        if (thisValue == "") {
          if (thisType == 'file') {
            jQuery(this).parents(".dropify-wrapper").css("border-color", "red");
          }
          jQuery(this).siblings(".wizard-form-error").slideDown();
        }
        else {
          if (thisType == 'file') {
            jQuery(this).parents(".dropify-wrapper").css("border-color", "#4A4674");
          }
          jQuery(this).siblings(".wizard-form-error").slideUp();
        }
      });
    });
    // focus on input field check empty or not
    jQuery(".form-control").on('focus', function () {
      var tmpThis = jQuery(this).val();
      if (tmpThis == '') {
        jQuery(this).parent().addClass("focus-input");
      }
      else if (tmpThis != '') {
        jQuery(this).parent().addClass("focus-input");
      }
    }).on('blur', function () {
      var tmpThis = jQuery(this).val();
      var tmpType = jQuery(this).attr("type");

      if (tmpThis == '') {
        if (tmpType == 'file') {
          jQuery(this).parents(".dropify-wrapper").css("border-color", "red");
        }
        jQuery(this).parent().removeClass("focus-input");
        jQuery(this).siblings('.wizard-form-error').slideDown("3000");
      }
      else if (tmpThis != '') {
        if (tmpType == 'file') {
          jQuery(this).parents(".dropify-wrapper").css("border-color", "#4A4674");
        }
        jQuery(this).parent().addClass("focus-input");
        jQuery(this).siblings('.wizard-form-error').slideUp("3000");
      }
    });
  });

</script>