<script type="text/javascript">

  $(document).ready(function () {

    $("#topics").select2({
      placeholder: "Select Topic",
      allowClear: false,
    });

    $("#subTopics").select2({
      placeholder: "Select Sub Topic",
      allowClear: false,
    });

    $("#grades").select2({
      placeholder: "Select Grade",
      allowClear: false,
    });

    $('#thumbnail').dropify({
      tpl: {
        message: '<div class="dropify-message"><span class="file-icon" /> <p>Drag & Drop here size should be</p><a class="d-inline-block mt-2 mb-3 theme-btn" href="javasript:void(0);">Select File</a><h6 class="mb-0 fn-12 text-dblue">Supported formates : JPG, JPEG, PNG</h6></div>',
      },
    });

    $('.single-img').dropify({
      tpl: {
        message: '<div class="dropify-message"><img src="/images/frame.svg" alt="img"> <p>Drag & Drop here</p><h6 class="mb-0 mt-1 fn-12 text-dblue">Select your preferred video type. (JPEG, PNG, SVG, etc.)</h6></div>',
      },
    });

    $(document).ready(function () {
      $("body").tooltip({ selector: '[data-toggle=tooltip]' });
    });

  });

  function dropify() {
    $('.select-video').dropify({
      tpl: {
        message: '<div class="dropify-message"><span class="file-icon" /> <p>Drag & Drop here size should be</p><a class="d-inline-block mt-2 mb-3 theme-btn" href="javasript:void(0);">Select File</a><h6 class="mb-0 fn-12 text-dblue">Select your preferred video type. (.mp4, YouTube, Vimeo etc.)</h6></div>',
      },
    });

    $('.select-attachments').dropify({
      tpl: {
        message: '<div class="dropify-message"><span class="file-icon" /> <p>Drag & Drop here size should be</p><a class="d-inline-block mt-2 mb-3 theme-btn" href="javasript:void(0);">+ Attachments</a><h6 class="mb-0 fn-12 text-dblue">Supported formates : (PDF)</h6></div>',
      },
    });
  }

  function inti_editor() {
    tinymce.init({
      selector: '.editer',
      height: 300,
      menubar: false,
      statusbar: false,
      plugins: [
        'advlist autolink lists link image charmap print preview anchor textcolor',
        'searchreplace visualblocks code fullscreen',
        'insertdatetime media table contextmenu paste code help wordcount'
      ],
      mobile: {
        theme: 'mobile'
      },
      toolbar: 'insert | undo redo |  formatselect | bold italic backcolor  | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | removeformat | help',

      setup: function (editor) {
        editor.on("init", function () {
          // this.setContent(
          //   "The init function knows on which editor its called - this is for " +
          //   editor.id
          // );
          this.on('keyup', function(e) {
            console.log(e);
            })
           
        });
        editor.on("change", function (e) {
          console.log(jQuery(this)[0].id);
          let descriptionId = jQuery(this)[0].id;
          // console.log(tinymce.activeEditor.getContent());
          // $("textarea#" + descriptionId).text(tinymce.activeEditor.getContent());
          tinymce.triggerSave();


        });
        editor.on("keyup", function () {
          let descriptionId = jQuery(this)[0].id;
          tinymce.triggerSave();

          // console.log(tinymce.activeEditor.getContent());
          // $("textarea#" + descriptionId).text(tinymce.activeEditor.getContent());
        });
      },
    });

    question_dropify();

    $('#thumbnail').dropify({
      tpl: {
        message: '<div class="dropify-message"><span class="file-icon" /> <p>Drag & Drop here size should be</p><a class="d-inline-block mt-2 mb-3 theme-btn" href="javasript:void(0);">Select File</a><h6 class="mb-0 fn-12 text-dblue">Supported formates : JPEG, PNG, MP4</h6></div>',
      },
    });
  }

  function question_dropify() {
    $('.practice-question-img').dropify({
      tpl: {
        message: '<div class="dropify-message"><span class="file-icon" /> <p>Drag & Drop here size should be</p><a class="d-inline-block mt-2 mb-3 theme-btn" href="javasript:void(0);">+ Image</a><h6 class="mb-0 fn-12 text-dblue">Supported formates : (JPEG, PNG, SVG)</h6></div>',
      },
    });
  }

  /**
   * loadSubTopic
   * */
  function loadSubTopic(topicId) {
    $.ajax({
      type: "POST",
      url: '/learning-content/renderSubtopic',
      data: {
        id: topicId,
      },
      success: function (response) {
        $('#subTopics').empty();

        if (response.length > 0) {
          var newOption = new Option("Select Sub Topic", "", false, false);
          $('#subTopics').append(newOption).trigger('change');
          for (res of response) {
            newOption = new Option(res.name, res._id, false, false);
            $('#subTopics').append(newOption).trigger('change');
          }
        } else {
          $('#subTopics').html('No results found.').trigger('change');
        }
      },
    });
  }

  $('#topics').change(function () {
    let topicId = $(this).val();
    loadSubTopic(topicId);
  })

  $('.tab_btn').click(function () {
    $('.dropify').dropify();
  })

  // Form Stepper 
  jQuery(document).ready(function () {

    // click on next button
    jQuery('.form-wizard-next-btn').click(function () {

      var parentFieldset = jQuery(this).parents('.wizard-fieldset');
      var currentActiveStep = jQuery(this).parents('.form-wizard').find('.form-wizard-steps .active');
      var next = jQuery(this);
      var nextWizardStep = true;
      parentFieldset.find('.wizard-required').each(function () {
        var thisValue = jQuery(this).val();
        var thisType = jQuery(this).attr("type");

        if (thisValue == "") {
          jQuery(this).siblings(".wizard-form-error").slideDown();
          nextWizardStep = false;
        }
        else {
          jQuery(this).siblings(".wizard-form-error").slideUp();
        }
      });
      if (nextWizardStep) {
        next.parents('.wizard-fieldset').removeClass("show", "400");
        currentActiveStep.removeClass('active').addClass('activated').next().addClass('active', "400");
        next.parents('.wizard-fieldset').next('.wizard-fieldset').addClass("show", "400");
        jQuery(document).find('.wizard-fieldset').each(function () {
          if (jQuery(this).hasClass('show')) {
            var formAtrr = jQuery(this).attr('data-tab-content');
            jQuery(document).find('.form-wizard-steps .form-wizard-step-item').each(function () {
              if (jQuery(this).attr('data-attr') == formAtrr) {
                jQuery(this).addClass('active');
                var innerWidth = jQuery(this).innerWidth();
                var position = jQuery(this).position();
                jQuery(document).find('.form-wizard-step-move').css({ "left": position.left, "width": innerWidth });
              } else {
                jQuery(this).removeClass('active');
              }
            });
          }
        });
      }
    });

    //click on previous button
    jQuery('.form-wizard-previous-btn').click(function () {
      var counter = parseInt(jQuery(".wizard-counter").text());;
      var prev = jQuery(this);
      var currentActiveStep = jQuery(this).parents('.form-wizard').find('.form-wizard-steps .active');
      prev.parents('.wizard-fieldset').removeClass("show", "400");
      prev.parents('.wizard-fieldset').prev('.wizard-fieldset').addClass("show", "400");
      currentActiveStep.removeClass('active').prev().removeClass('activated').addClass('active', "400");
      jQuery(document).find('.wizard-fieldset').each(function () {
        if (jQuery(this).hasClass('show')) {
          var formAtrr = jQuery(this).attr('data-tab-content');
          jQuery(document).find('.form-wizard-steps .form-wizard-step-item').each(function () {
            if (jQuery(this).attr('data-attr') == formAtrr) {
              jQuery(this).addClass('active');
              var innerWidth = jQuery(this).innerWidth();
              var position = jQuery(this).position();
              jQuery(document).find('.form-wizard-step-move').css({ "left": position.left, "width": innerWidth });
            } else {
              jQuery(this).removeClass('active');
            }
          });
        }
      });
    });

    //click on form submit button
    jQuery(document).on("click", ".form-wizard .form-wizard-submit", function () {
      var parentFieldset = jQuery(this).parents('.wizard-fieldset');
      var currentActiveStep = jQuery(this).parents('.form-wizard').find('.form-wizard-steps .active');
      var repeaterStep = jQuery(this);
      var submitTrue = true;
      parentFieldset.find('.wizard-required').each(function (index, element) {
        var thisName = jQuery(this).attr("name");
        var thisValue = jQuery(this).val();
        var thisType = jQuery(this).attr("type");

        console.log('Name => ' + thisName);
        console.log('Value => ' + thisValue);
        console.log('Type => ' + thisType);
        console.log('index => ' + index);

        if (thisValue == "") {
          if (thisType == 'file') {
            jQuery(this).parents(".dropify-wrapper").css("border-color", "red");
          }
          jQuery(this).siblings(".wizard-form-error").slideDown();
          submitTrue = false;
        }
        else {
          console.log('SSSS');
          if (thisType == 'file') {
            jQuery(this).parents(".dropify-wrapper").css("border-color", "#4A4674");
          }
          jQuery(this).siblings(".wizard-form-error").slideUp();
        }

      });

      console.log('submitTrue => ' + submitTrue);
      if (submitTrue) {
        $('#createContent').submit();
      }
    });

    // focus on input field check empty or not
    jQuery(".form-control").on('focus', function () {
      var tmpThis = jQuery(this).val();
      if (tmpThis == '') {
        jQuery(this).parent().addClass("focus-input");
      }
      else if (tmpThis != '') {
        jQuery(this).parent().addClass("focus-input");
      }
    }).on('blur', function () {
      var tmpThis = jQuery(this).val();
      var tmpType = jQuery(this).attr("type");

      if (tmpThis == '') {
        if (tmpType == 'file') {
          jQuery(this).parents(".dropify-wrapper").css("border-color", "red");
        }
        jQuery(this).parent().removeClass("focus-input");
        jQuery(this).siblings('.wizard-form-error').slideDown("3000");
      }
      else if (tmpThis != '') {
        if (tmpType == 'file') {
          jQuery(this).parents(".dropify-wrapper").css("border-color", "#4A4674");
        }
        jQuery(this).parent().addClass("focus-input");
        jQuery(this).siblings('.wizard-form-error').slideUp("3000");
      }
    });
  });


  $("#createContent").submit(function (e) {
    e.preventDefault();
    tinymce.triggerSave();
    var form = $('#createContent');
    var formData = new FormData(form[0]);

    console.log('formSubmission');

    // var myContent = tinymce.get("description-1-0").getContent();
    formData.append('thumbnail', this.new_attachments)
    var url = $('#createContent').attr('action');

    for (const pair of formData.entries()) {
      console.log(pair[0] + ' - ' + pair[1]);
    }
    // formData.append('file', $('input[type=file]')[0].files[0]);
    // var data = Array.from(formData.entries()).reduce((memo, [key, value]) => ({
    //   [key]: value,
    // }), {});
    // data: JSON.stringify(Object.fromEntries(formData)),

    $.ajax({
      type: "POST",
      url: url,
      dataType: "json",
      data: formData,
      processData: false,
      contentType: false,
      success: function (response) {

        if (response.success == true) {
          window.location = response.redirectUrl;
        }
      },
      error: function (response) {

        let errorMessages = '';
        $.each(response.responseJSON.errors, function (field_name, error) {

          $(document).find('[id=' + error.param + ']').after('<span class="help-block text-danger">' + error.msg + '</span>');
          // $("#storeCategoryBtn").prop('disabled', false);
        })
      },
      complete: function () {
        // $("#loading-bar-spinner").hide();
        //$("#storeCategoryBtn").prop('disabled', false);
      }
    })
  });

  $(document).on("click", ".lesson-edit", function () {
    $(this).closest('.card-header').find('.editable-heading').focus();
  });

  $(document).on("click", ".lesson-expand", function () {
    let dataTarget = $(this).attr('data-target');
    $('.lesson-container').removeClass('show');
    //$(dataTarget).toggleClass('show');
  });

  $(document).on("click", ".informationSlide-add", function () {
    $(this).parents().find('#slideAccordion').show();
    // console.log($(this).parents().find('#slideAccordion'));
  });

  $(document).on("click", ".informationPractices-add", function () {

    $(this).parents().find('#practiceAccordion').show();
    // console.log($(this).parents().find('#practiceAccordion'));
  });

  $(document).on("click", ".slide-form-expand", function () {
    $('.slide-container').removeClass('show');
    let classes = $(this).attr('aria-controls');
    // $('#' + classes).addClass('show');
  });

  $(document).on("click", ".practice-question-expand", function () {
    $('.practice-questions').removeClass('show');
  });

  $(document).on("click", ".practice-form-expand", function () {
    $('.practice-container').removeClass('show');
    let classes = $(this).attr('aria-controls');
    // $('#' + classes).addClass('show');
  });

  $('.tab_btn').click(function () {
    $('.dropify').dropify();
  })

  $(document).on('click', '.save-lecture-details', function () {
    $(this).parents().find('.slide-container').removeClass('show');
    let title = $(this).parents('.slide-container').find('#title').val();

    $(this).parents('.wizards-div').find('.heading-title').html(title);
    //console.log($(this).parents('.slide-container').find('#title').val())
  });

  var $repeater = $('.repeater').repeater({
    initEmpty: false,
    show: function () {
      $(this).show();
      let element = $(this);
      /*------ slides start------*/
      slides_init(element)  // for slides
      inti_editor();        // initilized editor for all slides
      dropify();            // initilized dropify for all slides

      practice_init(element);
      que_option(element);
      $(this).slideDown();
    },
    hide: function (deleteElement) {
      if (confirm("Are you sure you want to delete this element?")) {
        $(this).slideUp(deleteElement);
      }
    },
    ready: function (setIndexes) {
      // $dragAndDrop.on('drop', setIndexes);
    },
    isFirstItemUndeletable: true,
    repeaters: [{
      selector: '.inner-repeater',
      repeaters: [{
        selector: '.deep-inner-repeater',

        show: function () {
          let element = $(this);
          /*------ question start------*/
          que_option(element);
          question_dropify();
          practice_init(element);
          $(this).slideDown();
        },
      }],
      show: function () {
        let element = $(this);
        /*------ slides start------*/
        slides_init(element)  // for slides
        inti_editor();        // initilized editor for all slides
        dropify();            // initilized dropify for all slides
        que_option(element);

        practice_init(element);
        $(this).slideDown();
      },
      hide: function (deleteElement) {
        $(this).slideUp(deleteElement);
        // if (confirm("Are you sure you want to delete this element?")) {
        //   $(this).slideUp(deleteElement);
        // }
      }
      // repeaters: [{ 
      //     selector: '.deep-inner-repeater' 
      // }]
    }]
  });

  $repeater.setList([
    // {
    //     'text-input': 'Clothing',
    //     'inner-list': []
    // }
  ]);

  function slides_init(element) {
    var index = $(element, '.wizards-div"').index();
    let parentIndex = element.parents('#wizard:last-child').attr('data-parent-index');
    var newSlide = 'slide-' + parentIndex + '-' + index;

    //Do something with name and value...
    element.find('.slide-container').attr('id', newSlide);
    element.find('.close-slide').attr('href', '#' + newSlide);
    element.find('.slide-form-expand').attr('data-target', '#' + newSlide).attr('aria-controls', newSlide);

    //add unique id for tiny editor
    element.find('#description-0').attr('id', 'description-' + parentIndex + '-' + index);
    // add unique id for tab
    // for pill basic
    element.find('#pills-basic-tab').attr('href', '#pills-basic-' + parentIndex + '-' + index);
    element.find('#pills-basic-0').attr('id', 'pills-basic-' + parentIndex + '-' + index);

    //for pills video
    element.find('#pills-video-tab').attr('href', '#pills-video-' + parentIndex + '-' + index);
    element.find('#pills-video-0').attr('id', 'pills-video-' + parentIndex + '-' + index);

    //for pills attachment
    element.find('#pills-attachments-tab').attr('href', '#pills-attachments-' + parentIndex + '-' + index);
    element.find('#pills-attachments-0').attr('id', 'pills-attachments-' + parentIndex + '-' + index);


  }

  function practice_init(element) {
    let grandparentIndex = element.parents('.main-wizards-div').attr('data-practice-index');
    let parentIndex = element.parents('#practice-wizard:last-child').attr('data-parent-index');
    var index = $(element, '.practice-wizards-div"').index();
    $(element, '.practice-wizards-div"').attr("data-practice-index", index);
    var newSlide = 'practice-' + parentIndex + '-' + index;
    //Do something with name and value...
    element.find('.practice-container').attr('id', newSlide);
    element.find('.close-slide').attr('href', '#' + newSlide);
    element.find('.practice-form-expand').attr('data-target', '#' + newSlide).attr('aria-controls', newSlide);

    //add unique id for tiny editor
    element.find('#description-0').attr('id', 'description-' + grandparentIndex + '-' + parentIndex + '-' + index);
    // add unique id for tab
    // for pill basic
    element.find('#pills-single-sel-tab').attr('href', '#pills-single-sel-' + grandparentIndex + '-' + parentIndex + '-' + index);
    element.find('#pills-single-sel-0').attr('id', 'pills-single-sel-' + grandparentIndex + '-' + parentIndex + '-' + index);

    //for pills video
    element.find('#pills-multi-sel-tab').attr('href', '#pills-multi-sel-' + grandparentIndex + '-' + parentIndex + '-' + index);
    element.find('#pills-multi-sel-0').attr('id', 'pills-multi-sel-' + grandparentIndex + '-' + parentIndex + '-' + index);

    //for pills attachment
    element.find('#pills-type-text-tab').attr('href', '#pills-type-text-' + grandparentIndex + '-' + parentIndex + '-' + index);
    element.find('#pills-type-text-0').attr('id', 'pills-type-text-' + grandparentIndex + '-' + parentIndex + '-' + index);

    element.find('#pills-drag-drop-tab').attr('href', '#pills-drag-drop-' + grandparentIndex + '-' + parentIndex + '-' + index);
    element.find('#pills-drag-drop-0').attr('id', 'pills-drag-drop-' + grandparentIndex + '-' + parentIndex + '-' + index);

    var newLesson = 'lesson-' + index;
    element.find('.lesson-container').attr('id', newLesson);
    element.find('.lesson-expand').attr('data-target', '#' + newLesson).attr('aria-controls', newLesson);
  }

  function que_option(element) {
    var index = $(element, '.practice-wizards-div"').index();
    let grandparentIndex = element.parents('.main-wizards-div').attr('data-practice-index');
    let parentIndex = element.parents('.practice-wizards-div:last-child').attr('data-practice-index');

    var questionClass = grandparentIndex + '-' + parentIndex + '-' + index;


    element.find('.btn-check-single-text').attr('id', 'btn-check-single-text-' + questionClass);
    element.find('.check-label-single-text').attr('for', 'btn-check-single-text-' + questionClass);

    element.find('.btn-check-single-image').attr('id', 'btn-check-single-image-' + questionClass);
    element.find('.check-label-single-image').attr('for', 'btn-check-single-image-' + questionClass);

    element.find('.btn-check-single-both').attr('id', 'btn-check-single-both-' + questionClass);
    element.find('.check-label-single-both').attr('for', 'btn-check-single-both-' + questionClass);

    element.find('.btn-check-multiple-text').attr('id', 'btn-check-multiple-text-' + questionClass);
    element.find('.check-label-multiple-text').attr('for', 'btn-check-multiple-text-' + questionClass);

    element.find('.btn-check-multiple-image').attr('id', 'btn-check-multiple-image-' + questionClass);
    element.find('.check-label-multiple-image').attr('for', 'btn-check-multiple-image-' + questionClass);

    element.find('.btn-check-multiple-both').attr('id', 'btn-check-multiple-both-' + questionClass);
    element.find('.check-label-multiple-both').attr('for', 'btn-check-multiple-both-' + questionClass);

    // question collapse div
    var QuestionId = 'add_option-' + questionClass;
    element.find('.practice-questions').attr('id', QuestionId);
    element.find('.practice-question-expand').attr('data-target', '#' + QuestionId).attr('aria-controls', QuestionId);
    //checkbox for single text question
    element.find('.single-select').attr('data-class', 'select-box-' + grandparentIndex + '-' + parentIndex);

    // option title
    element.find('.option-title').text('Option ' + (index + 1));
  }

  $(document).on('keyup', '.option_text', function () {
    let parent = $(this).parents('.question-lightfray').find('.option-title').text($(this).val());
  })

  $(document).on('click', '.practice-tab', function () {
    let id = $(this).attr('href');
    let type = $(this).attr('data-type');
    $(id).parents('.practice-container').find('fieldset').prop('disabled', true);
    $(this).parents('.practice-card').find('.practices-type').val(type)
    $(id).find('fieldset').prop('disabled', false);
  })

  $(document).on('click', '.slider-tab', function () {
    let id = $(this).attr('href');
    let type = $(this).attr('data-type');
    $(id).parents('.slide-container').find('.editer').removeClass('wizard-required');
    $(id).parents('.slide-container').find('.video_url').removeClass('wizard-required');
    $(id).parents('.slide-container').find('.select-video').removeClass('wizard-required');
    $(id).parents('.slide-container').find('.select-attachments').removeClass('wizard-required');
    if (type === 'basic') {
      $(id).parents('.slide-container').find('.editer').addClass('wizard-required');
    }
    if (type === 'video') {
      $(id).parents('.slide-container').find('.video_url').addClass('wizard-required');
      $(id).parents('.slide-container').find('.select-video').addClass('wizard-required');
    }
    if (type === 'attachment') {
      $(id).parents('.slide-container').find('.select-attachments').addClass('wizard-required');
    }
  })


  $(document).on('click', '.shadow-btn2', function () {
    let title = $(this).parents('.practice-fieldset').find('.question_title').val();
    $(this).parents('.practice-section').find('.practice-heading-title').text(title);
    $(this).parents('.practice-container').removeClass('show');
  })

  // uncheck all checkbox of question
  $(document).on('click', '.single-select', function () {
    $(this).parents('.practice-fieldset').find('input[type=checkbox]:checked').prop("checked", false);
    $(this).parents('.practice-fieldset').find('input[type=checkbox]:checked').removeClass('wizard-required');
    $(this).prop("checked", true);
  })

  $(document).on('click', '.practice-option-add', function () {
    $(this).parents('.practice-fieldset').find('.practice-option-add').hide();
    $(this).show();
    // $(this).parents('.practice-fieldset').find('.delete-btn').show();
    // $(this).siblings('.delete-btn').hide();
  })
</script>