<script type="text/javascript">

  $(document).ready(function () {

    $("#topics").select2({
      placeholder: "Select Topic",
      allowClear: false,
    });

    $("#subTopics").select2({
      placeholder: "Select Sub Topic",
      allowClear: false,
    });

    $("#grades").select2({
      placeholder: "Select Grade",
      allowClear: false,
    });

    $('#thumbnail').dropify({
      tpl: {
        message: '<div class="dropify-message"><span class="file-icon" /> <p>Drag & Drop here size should be</p><a class="d-inline-block mt-2 mb-3 theme-btn" href="javasript:void(0);">Select File</a><h6 class="mb-0 fn-12 text-dblue">Supported formates : JPG, JPEG, PNG</h6></div>',
      },
    });



    $('.single-img').dropify({
      tpl: {
        message: '<div class="dropify-message"><img src="/images/frame.svg" alt="img"> <p>Drag & Drop here</p><h6 class="mb-0 mt-1 fn-12 text-dblue">Select your preferred video type. (JPEG, PNG, SVG, etc.)</h6></div>',
      },
    });

    $(document).ready(function () {
      $("body").tooltip({ selector: '[data-toggle=tooltip]' });
    });



  });

  function dropify() {
    $('.select-video').dropify({
      tpl: {
        message: '<div class="dropify-message"><span class="file-icon" /> <p>Drag & Drop here size should be</p><a class="d-inline-block mt-2 mb-3 theme-btn" href="javasript:void(0);">Select File</a><h6 class="mb-0 fn-12 text-dblue">Select your preferred video type. (.mp4, YouTube, Vimeo etc.)</h6></div>',
      },
    });

    $('.select-attachments').dropify({
      tpl: {
        message: '<div class="dropify-message"><span class="file-icon" /> <p>Drag & Drop here size should be</p><a class="d-inline-block mt-2 mb-3 theme-btn" href="javasript:void(0);">+ Attachments</a><h6 class="mb-0 fn-12 text-dblue">Supported formates : (PDF, Excel)</h6></div>',
      },
    });
  }
  function inti_editor() {
    tinymce.init({
      selector: '.editer',
      height: 300,
      menubar: false,
      statusbar: false,
      plugins: [
        'advlist autolink lists link image charmap print preview anchor textcolor',
        'searchreplace visualblocks code fullscreen',
        'insertdatetime media table contextmenu paste code help wordcount'
      ],
      mobile: {
        theme: 'mobile'
      },
      toolbar: 'insert | undo redo |  formatselect | bold italic backcolor  | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | removeformat | help',

      setup: function (editor) {
        editor.on("init", function () {
          // this.setContent(
          //   "The init function knows on which editor its called - this is for " +
          //   editor.id
          // );
        });
      },
    });

    $('#thumbnail').dropify({
      tpl: {
        message: '<div class="dropify-message"><span class="file-icon" /> <p>Drag & Drop here size should be</p><a class="d-inline-block mt-2 mb-3 theme-btn" href="javasript:void(0);">Select File</a><h6 class="mb-0 fn-12 text-dblue">Supported formates : JPEG, PNG, MP4</h6></div>',
      },
    });
  }

  /**
   * loadSubTopic
   * */
  function loadSubTopic(topicId) {
    $.ajax({
      type: "POST",
      url: '/learning-content/renderSubtopic',
      data: {
        id: topicId,
      },
      success: function (response) {
        $('#subTopics').empty();
        console.log(response.length);
        if (response.length > 0) {
          var newOption = new Option("Select Sub Topic", "", false, false);
          $('#subTopics').append(newOption).trigger('change');
          for (res of response) {
            newOption = new Option(res.name, res._id, false, false);
            $('#subTopics').append(newOption).trigger('change');
          }
        } else {
          $('#subTopics').html('No results found.').trigger('change');
        }
      },
    });
  }

  $('#topics').change(function () {
    let topicId = $(this).val();
    loadSubTopic(topicId);
  })

  $('.tab_btn').click(function () {
    $('.dropify').dropify();
  })

  // Form Stepper 
  jQuery(document).ready(function () {
    // click on next button
    jQuery('.form-wizard-next-btn').click(function () {
      var parentFieldset = jQuery(this).parents('.wizard-fieldset');
      var currentActiveStep = jQuery(this).parents('.form-wizard').find('.form-wizard-steps .active');
      var next = jQuery(this);
      var nextWizardStep = true;
      parentFieldset.find('.wizard-required').each(function () {
        var thisValue = jQuery(this).val();
        var thisType = jQuery(this).attr("type");

        if (thisValue == "") {
          if (thisType == 'file') {
            jQuery(this).parents(".dropify-wrapper").css("border-color", "red");
          }
          jQuery(this).siblings(".wizard-form-error").slideDown();
          nextWizardStep = false;
        }
        else {
          if (thisType == 'file') {
            jQuery(this).parents(".dropify-wrapper").css("border-color", "#4A4674");
          }
          jQuery(this).siblings(".wizard-form-error").slideUp();
        }
      });
      if (nextWizardStep) {
        next.parents('.wizard-fieldset').removeClass("show", "400");
        currentActiveStep.removeClass('active').addClass('activated').next().addClass('active', "400");
        next.parents('.wizard-fieldset').next('.wizard-fieldset').addClass("show", "400");
        jQuery(document).find('.wizard-fieldset').each(function () {
          if (jQuery(this).hasClass('show')) {
            var formAtrr = jQuery(this).attr('data-tab-content');
            jQuery(document).find('.form-wizard-steps .form-wizard-step-item').each(function () {
              if (jQuery(this).attr('data-attr') == formAtrr) {
                jQuery(this).addClass('active');
                var innerWidth = jQuery(this).innerWidth();
                var position = jQuery(this).position();
                jQuery(document).find('.form-wizard-step-move').css({ "left": position.left, "width": innerWidth });
              } else {
                jQuery(this).removeClass('active');
              }
            });
          }
        });
      }
    });
    //click on previous button

    //click on previous button
    jQuery('.form-wizard-previous-btn').click(function () {
      var counter = parseInt(jQuery(".wizard-counter").text());;
      var prev = jQuery(this);
      var currentActiveStep = jQuery(this).parents('.form-wizard').find('.form-wizard-steps .active');
      prev.parents('.wizard-fieldset').removeClass("show", "400");
      prev.parents('.wizard-fieldset').prev('.wizard-fieldset').addClass("show", "400");
      currentActiveStep.removeClass('active').prev().removeClass('activated').addClass('active', "400");
      jQuery(document).find('.wizard-fieldset').each(function () {
        if (jQuery(this).hasClass('show')) {
          var formAtrr = jQuery(this).attr('data-tab-content');
          jQuery(document).find('.form-wizard-steps .form-wizard-step-item').each(function () {
            if (jQuery(this).attr('data-attr') == formAtrr) {
              jQuery(this).addClass('active');
              var innerWidth = jQuery(this).innerWidth();
              var position = jQuery(this).position();
              jQuery(document).find('.form-wizard-step-move').css({ "left": position.left, "width": innerWidth });
            } else {
              jQuery(this).removeClass('active');
            }
          });
        }
      });
    });
    //click on form submit button
    jQuery(document).on("click", ".form-wizard .form-wizard-submit", function () {
      var parentFieldset = jQuery(this).parents('.wizard-fieldset');
      var currentActiveStep = jQuery(this).parents('.form-wizard').find('.form-wizard-steps .active');
      parentFieldset.find('.wizard-required').each(function () {
        var thisValue = jQuery(this).val();
        var thisType = jQuery(this).attr("type");

        if (thisValue == "") {
          if (thisType == 'file') {
            jQuery(this).parents(".dropify-wrapper").css("border-color", "red");
          }
          jQuery(this).siblings(".wizard-form-error").slideDown();
        }
        else {
          if (thisType == 'file') {
            jQuery(this).parents(".dropify-wrapper").css("border-color", "#4A4674");
          }
          jQuery(this).siblings(".wizard-form-error").slideUp();
        }
      });
    });
    // focus on input field check empty or not
    jQuery(".form-control").on('focus', function () {
      var tmpThis = jQuery(this).val();
      if (tmpThis == '') {
        jQuery(this).parent().addClass("focus-input");
      }
      else if (tmpThis != '') {
        jQuery(this).parent().addClass("focus-input");
      }
    }).on('blur', function () {
      var tmpThis = jQuery(this).val();
      var tmpType = jQuery(this).attr("type");

      if (tmpThis == '') {
        if (tmpType == 'file') {
          jQuery(this).parents(".dropify-wrapper").css("border-color", "red");
        }
        jQuery(this).parent().removeClass("focus-input");
        jQuery(this).siblings('.wizard-form-error').slideDown("3000");
      }
      else if (tmpThis != '') {
        if (tmpType == 'file') {
          jQuery(this).parents(".dropify-wrapper").css("border-color", "#4A4674");
        }
        jQuery(this).parent().addClass("focus-input");
        jQuery(this).siblings('.wizard-form-error').slideUp("3000");
      }
    });
  });



  $(document).on("click", ".lesson-edit", function () {
    $(this).closest('.card-header').find('.editable-heading').focus();
  });

  $(document).on("click", ".lesson-expand", function () {
    let dataTarget = $(this).attr('data-target');
    $('.lesson-container').removeClass('show');
    //$(dataTarget).toggleClass('show');
  });

  $(document).on("click", ".informationSlide-add", function () {
    console.log('showdata');
    $(this).parents().find('#slideAccordion').show();
    console.log($(this).parents().find('#slideAccordion'));
  });

  $(document).on("click", ".slide-form-expand", function () {
    $('.slide-container').removeClass('show');
    let classes = $(this).attr('aria-controls');
    // $('#' + classes).addClass('show');
  });

  $('.tab_btn').click(function () {
    $('.dropify').dropify();
  })

  $(document).on('click', '.save-lecture-details', function () {
    $(this).parents().find('.slide-container').removeClass('show');
    let title = $(this).parents('.slide-container').find('#title').val();

    $(this).parents('.wizards-div').find('.heading-title').html(title);
    //console.log($(this).parents('.slide-container').find('#title').val())
  });



  var $repeater = $('.repeater').repeater({
    initEmpty: false,
    show: function () {
      var index = $($(this), '.main-wizards-div"').index();

      var newSlide = 'slide-' + index + '-0';
      //Do something with name and value...
      $(this).find('.slide-container').attr('id', newSlide);
      $(this).find('.close-slide').attr('href', '#' + newSlide);
      $(this).find('.slide-form-expand').attr('data-target', '#' + newSlide).attr('aria-controls', newSlide);

      // add unique id for tiny editor
      $(this).find('#description-0').attr('id', 'description-' + index + '-0');

      //add unique id for tiny editor
      //let editorClass = 'description-'+ index + '-0';
      inti_editor();
      dropify();
      // add unique id for tab
      // for pill basic
      $(this).find('#pills-basic-tab').attr('href', '#pills-basic-' + index + '-0');
      $(this).find('#pills-basic-0').attr('id', 'pills-basic-' + index + '-0');

      //for pills video
      $(this).find('#pills-video-tab').attr('href', '#pills-video-' + index + '-0');
      $(this).find('#pills-video-0').attr('id', 'pills-video-' + index + '-0');

      //for pills attachment
      $(this).find('#pills-attachments-tab').attr('href', '#pills-attachments-' + index + '-0');
      $(this).find('#pills-attachments-0').attr('id', 'pills-attachments-' + index + '-0');

      var newLesson = 'lesson-' + index;
      $(this).find('.lesson-container').attr('id', newLesson);
      $(this).find('.lesson-expand').attr('data-target', '#' + newLesson).attr('aria-controls', newLesson);

      $(this).find("#wizard").attr("data-parent-index", index);
      $(this).slideDown();
    },
    hide: function (deleteElement) {
      if (confirm("Are you sure you want to delete this element?")) {
        $(this).slideUp(deleteElement);
      }
    },
    ready: function (setIndexes) {
      // $dragAndDrop.on('drop', setIndexes);
    },
    isFirstItemUndeletable: true,
    repeaters: [{
      selector: '.inner-repeater',
      show: function () {
        var index = $($(this), '.wizards-div"').index();
        let parentIndex = $(this).parents('#wizard:last-child').attr('data-parent-index');
        var newSlide = 'slide-' + parentIndex + '-' + index;

        //Do something with name and value...
        $(this).find('.slide-container').attr('id', newSlide);
        $(this).find('.close-slide').attr('href', '#' + newSlide);
        $(this).find('.slide-form-expand').attr('data-target', '#' + newSlide).attr('aria-controls', newSlide);

        //add unique id for tiny editor
        $(this).find('#description-0').attr('id', 'description-' + parentIndex + '-' + index);
        //let editorClass = 'description-'+ parentIndex + '-'+index;
        inti_editor();
        dropify();
        // add unique id for tab
        // for pill basic
        $(this).find('#pills-basic-tab').attr('href', '#pills-basic-' + parentIndex + '-' + index);
        $(this).find('#pills-basic-0').attr('id', 'pills-basic-' + parentIndex + '-' + index);

        //for pills video
        $(this).find('#pills-video-tab').attr('href', '#pills-video-' + parentIndex + '-' + index);
        $(this).find('#pills-video-0').attr('id', 'pills-video-' + parentIndex + '-' + index);

        //for pills attachment
        $(this).find('#pills-attachments-tab').attr('href', '#pills-attachments-' + parentIndex + '-' + index);
        $(this).find('#pills-attachments-0').attr('id', 'pills-attachments-' + parentIndex + '-' + index);

        $(this).slideDown();
      },
      hide: function (deleteElement) {
        $(this).slideUp(deleteElement);
        // if (confirm("Are you sure you want to delete this element?")) {
        //   $(this).slideUp(deleteElement);
        // }
      }
      // repeaters: [{ 
      //     selector: '.deep-inner-repeater' 
      // }]
    }]
  });

  $repeater.setList([
    // {
    //     'text-input': 'Clothing',
    //     'inner-list': []
    // }
  ]);

  $('.submitbtn').click(function () {
    $('#createContent').submit();
  })
  $("#createContent").submit(function (e) {
    e.preventDefault();
    tinymce.triggerSave();
    var form = $('#createContent');
    var formData = new FormData(form[0]);

    // var myContent = tinymce.get("description-1-0").getContent();
    // console.log(myContent); return false ;
    formData.append('thumbnail', this.new_attachments)
    var url = $('#createContent').attr('action');
    console.log(url);

    // for (const pair of formData.entries()) {
    //   console.log(pair[0] + ' - ' + pair[1]);
    // }
    // formData.append('file', $('input[type=file]')[0].files[0]);
    // var data = Array.from(formData.entries()).reduce((memo, [key, value]) => ({
    //   [key]: value,
    // }), {});
    // data: JSON.stringify(Object.fromEntries(formData)),


    $.ajax({
      type: "POST",
      url: url,
      dataType: "json",
      data: formData,
      processData: false,
      contentType: false,
      success: function (response) {
        console.log(response);
        if (response.success == true) {
          window.location = response.redirectUrl;
        }
      },
      error: function (response) {
        console.log(response);
        let errorMessages = '';
        $.each(response.responseJSON.errors, function (field_name, error) {
          console.log(field_name);
          console.log(error);
          $(document).find('[id=' + error.param + ']').after('<span class="help-block text-danger">' + error.msg + '</span>');
          // $("#storeCategoryBtn").prop('disabled', false);

        })
      },
      complete: function () {
        // $("#loading-bar-spinner").hide();
        //$("#storeCategoryBtn").prop('disabled', false);
      }
    })
  });




</script>