<style>
  .menu_section {
    display: none;
  }
  .courses-sidebar {
    display: block;
  }
  a#menu_toggle {
    display: none;
  }
</style>
<div class="right_col" role="main">
  <div class="back-page">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/learning-content">Courses List</a></li>
      <li class="breadcrumb-item"><a href="javascript:void(0);">
          <%=content.title%>
        </a></li>
      <li class="breadcrumb-item active">Preview</li>
    </ol>
  </div>
  <div class="card-block mb-30">
    <div class="tab-content">
      <div class="tab-pane fade show active" id="chp1" role="tabpanel" aria-labelledby="chp1-tab">
        <div class="slideshow">

        </div>
        <ul class="slide-bottom">
          <li class="prev"><a href="javascript:void(0);" class="theme-btn">Previous</a></li>
          <li>
            <div class="slides-numbers" style="display: block;">
              <span class="active">01</span> of <span class="total"></span>
            </div>
          </li>
          <li class="next"><a href="javascript:void(0);" class="theme-btn">Next</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
<script>
  var helpers = {
    addZeros: function (n) {
      return (n < 10) ? '0' + n : '' + n;
    }
  };
  function sliderInit() {
  var $slider = $('.slideshow');
  $slider.each(function() {
    var $sliderParent = $(this).parent();
    $(this).slick({
      slidesToShow: 1,
      slidesToScroll: 1,
      autoplay: false,
      dots: false,
      arrow:false,
      infinite: false,
      // adaptiveHeight: true,
      draggable: false,
      swipeToSlide: false,
      accessibility: false,
      
    //fade: true,
      prevArrow: $('.prev'),
      nextArrow: $('.next'),
      responsive: [
        {
          breakpoint: 767,
          settings: {
            adaptiveHeight: true
          }
        }
      ]
    });

    if ($(this).find('.item').length > 1) {
      $(this).siblings('.slides-numbers').show();
    }

    $(this).on('afterChange', function(event, slick, currentSlide){
      $sliderParent.find('.slides-numbers .active').html(helpers.addZeros(currentSlide + 1));
    });

    var sliderItemsNum = $(this).find('.slick-slide').not('.slick-cloned').length;
    $sliderParent.find('.slides-numbers .total').html(helpers.addZeros(sliderItemsNum));

  });
  
};

  $('.slideshow').on('beforeChange', function (event, slick, currentSlide, nextSlide) {
    console.log(nextSlide);
    $('.slide-action li.active').removeClass('active');
    $('.active-slick-list li').eq(nextSlide).addClass('active');
  });

  $('a[data-slide]').click(function (e) {
    e.preventDefault();
    var slideno = $(this).data('slide');
    $('.slideshow').slick('slickGoTo', slideno - 1);
    $('.slide-action li.active').removeClass('active');
    $(this).addClass('active');
  });
  let lessonId = $('.slider-menu').data('id');
  let lessionData = $('.slider-menu').data('type');

  $('#lessons-1').find('.slide-action').addClass('active-slick-list');

  renderSliderContent(lessonId,lessionData);
  $('.slider-menu').click(function () {
    $('#practiceAccordion').removeClass('show');
    $('#slideAccordion').removeClass('show');
    $($(this).data('data-target')).addClass('show');
    $('.slide-action').removeClass('active-slick-list');
    let lessonId = $(this).data('id');
    let lessionData = $(this).data('type');
    let sliderClass = $(this).data('target');
    $(sliderClass).find('.slide-action').addClass('active-slick-list');
    $('.active-slick-list li:first-child').addClass('active');

    renderSliderContent(lessonId,lessionData);
  })
  sliderInit();

  function renderSliderContent(lessonId,lessionData) {
    $.ajax({
      type: "POST",
      url: '/learning-content/renderSlickSlider',
      data: {
        id: lessonId,
        type:lessionData,
      },
      success: function (response) {
        $('.slideshow').slick('unslick');
        $('.slideshow').html(response);
        $('.slideshow').slick(sliderInit());
      }
    });
  }

$(document).on('click','.check-btn',function(){
  $this = $(this).parents('.slick-active')
  let formData = $this.find('form').serialize();
  submitPracticeAnswer(formData,$this);
});

$(document).on('click','.custom-option',function(){
  $(this).toggleClass("correct");
});
function submitPracticeAnswer(formData,element){
  $('.explanation-div').hide();
  $('.correct-answer-msg').hide();
  $('.incorrect-answer-msg').hide();
  $.ajax({
      type: "POST",
      url: '/learning-content/submitPracticeAnswer',
      data: formData,
      dataType: "json",
      success: function (response) {
        element.find('.explanation-div').show();
        element.find('.description').text(response.correct_answer.description);
        for(submitted of response.submitted_answer){
          $('input[value="'+submitted.id+'"]').addClass('incorrect');
          $('input[value="'+submitted.id+'"]').removeClass('correct');
          $('input[value="'+submitted.id+'"]').prop('checked', true);
        }
        for(correct of response.correct_answer){
          $('input[value="'+correct.id+'"]').removeClass('incorrect');
          $('input[value="'+correct.id+'"]').addClass('correct');
        }
        if(JSON.stringify(response.correct_answer)==JSON.stringify(response.submitted_answer)){
          element.find('.correct-answer-msg').show();
          element.find('.check-btn').addClass('correct-btn');
          element.find('.check-btn').removeClass('incorrect-btn');
        }else{
          $('input[value="'+response.submitted_answer.id+'"]').addClass('incorrect');
          element.find('.incorrect-answer-msg').show();
          element.find('.check-btn').addClass('incorrect-btn');
          element.find('.check-btn').removeClass('correct-btn');

        }
      }
  });
}

// setTimeout(function(){
//   alert('amit');
// }, 2000);


</script>